<template>
  <div>
    <!-- nav n sidebar-->
    <div v-if="this.$route.name!='prelog'">
     <navigasi/>    
    </div>
    <div v-if="this.$route.path=='/home'">
      <headmenu/>
    </div>
    <!-- main content-->
    <router-view class="child-view" @show-modal="showModal"  @close-modal="closeModal"></router-view>
    <my-preloader ref="preload" ></my-preloader>
  </div>
</template>

<script>
  import navigasi from './views/navigasi.vue'
  import headmenu from './views/HeadMenu.vue'


  export default {
    name: 'app',
    components:{
      'navigasi':navigasi,
      'headmenu':headmenu
    },
    mounted: function(){
      document.addEventListener('deviceready', onDeviceReady, false);
      var self = this;
      function onDeviceReady(){
          console.log("starting D-Money.");
          window.localStorage.removeItem("full_name");
      }


    },
    methods:{
      showModal(){
         var self = this
         self.$refs.preload.show()

      },
      closeModal(){
         var self = this
         self.$refs.preload.close()
      },
    }
  }
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
