<template>
  <div class="editphone">
    <div style="text-align:center">
      <div style="padding:20px;">
          <div>
            <!-- <img class="logo-img" src="dist/img/logo.png" alt=""> -->
          </div>
          <label style="text-align:left; font-size" class="title_panel">
            <h4 style="text-align:left; display:block;" class="title_panel">Ubah No. Ponsel</h4>
          </label>
          <label style="float:left">Masukan No. Ponsel Baru</label>
          <div class="input-field">
            <input type="tel" v-model="phone" placeholder="Phone Number" id="login_phonenumber">
          </div>
      </div>
    </div>

       <footer class="page-footer">
       <div class="container">
          <div class="row">
                <div class="col s12">
                 <div class="prelogslide">
                    <a @click="next" class="btn theme full" style="margin:0;">Simpan</a>
                  </div>
              </div>
          </div>   
       </div>
    </footer>
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      phone:'',
    }
  },
  mounted(){
  },
  methods:{
    next(){
      if(this.phone==""){
        alert("nomor telepon harus diisi");
      }else{
        var self = this;
        function onProceed(ss) {
            console.log(ss);
            window.localStorage.setItem("otp_header",ss.otp_header);
            self.$router.push({ path:'/pin'})
        }
        function onUnauth() {
              let payload = {
                phone:self.phone
              }
              self.$router.push({ path:'/profileotp/'+JSON.stringify(payload)})
            
        }
        function onDenied() {
            console.log("Denied");
        }
        function onError(e) {
            console.log(e);
        }
        console.log(moffas.config.bin+this.phone);
        // moffas.login_start(moffas.config.bin+self.phone,onProceed,onUnauth,onDenied,onError);  
        onUnauth();     
      }
    }
  },
}
</script>
<style>
 body{
     background-color: #f7f7f7;
  }
  #login_phonenumber{
    font-weight: bold;
    font-size:1.5em;
  }
label{
font-size: 1.2rem!important;
}
.editphone .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.editphone .prelogslide{
  position: relative;
  bottom:0px;
}
</style>
