<template>
  <div class="transferpin">
    <div style="text-align:center">
      <div style="padding:25px;">
          <h2 style="display:block;text-align:center font-weight:normal;" class="title_panel">Masukan PIN</h2>
          <div class="pin">
            <input type="password" style="width:auto; text-align:center; font-size:25px;" v-model="pin" pattern="[0-9]{4}" maxlength="6">
          </div>
      </div>
      <div class="prelogslide">
        <a @click = "loginfin" class="btn theme full" style="margin:0;">Berikutnya</a>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      pin:''
    }
  },
  mounted(){
  },
  methods:{
    loginfin() {
    var self = this;
        var payload = {};

        function dummySuccess(){
          var mypin = window.localStorage.getItem("PIN");
          if(mypin === self.pin){
           // window.localStorage.setItem("logged","1"); //gak secure, lebih baik hilangkan
            self.$router.push('/profile'); 
            
          }else{
             alert("wrong pin,try again");
          }
          
        }

        function onSuccess(pload) {
            self.$router.push('/home');            

        };
        function onWrongPassword() {
            alert("wrong pin,try again");
        };
        function onError() {
            self.$router.push('/login');            
        };
        /*
        var iiotp = window.localStorage.getItem("otp_header");
        if (!iiotp) {
            iiotp = "";
            moffas.fin(iiotp,self.pin,payload,onSuccess,onWrongPassword,onError);
        }
        else {
            var payload = {
                "otp_header" : window.localStorage.getItem("otp_header"),
                "inpin" : self.pin,
            }
            self.$router.push('/cregis/'+JSON.stringify(payload));            
        }
        */
        dummySuccess();
    }
  },
}
</script>
<style>
  .transferpin .title_panel{
    font-size:2rem;
  }

</style>