<template>
  <div class="upgrade">
      <div style="padding:20px;">
        <label style="text-align:left; font-size" class="title_panel"> <h4 style="text-align:left; display:block;margin-bottom:20px" class="title_panel">Lengkapi data diri Anda</h4></label>

        
       
          <label style="float:left">Nama Lengkap</label>
        <div class="input-field">
          <input type="text" v-model="payload.Nama_Lengkap" placeholder="Nama Lengkap"/>
        </div>
         <label style="float:left">NIK</label>
        <div class="input-field">
          <input type="text" v-model="payload.NIK" placeholder="NIK" />
        </div>
          <label style="float:left">Alamat Tempat Tinggal</label>
        <div class="input-field">
          <input type="text" v-model="payload.Alamat" placeholder="Alamat Tempat Tinggal" />
        </div>
        <label style="float:left">Tempat Lahir</label>
        <div class="input-field">
          <input type="text" v-model="payload.TempatLahir" placeholder="Tempat Lahir" />
        </div>
        <label style="float:left">Tanggal Lahir</label>
        <div class="input-field">
          <input type="date" v-model="payload.TanggalLahir" class="datepicker" placeholder="Tanggal Lahir" />
        </div>
        <label style="float:left">Pekerjaan</label>
        <div class="input-field">
          <input type="text" v-model="payload.Pekerjaan" placeholder="Pekerjaan" />
        </div>
        <br>
        <div style="float:left; width:100%; margin-bottom:20px;font-size:1.5em;font-weight:bold">
          <input class="with-gap" value="p" v-model="payload.Jenis_Kelamin" name="gender" type="radio" id="malebtn" />
          <label for="malebtn" style="margin-right:30px;">Pria</label>
          <input class="with-gap" value="w" v-model="payload.Jenis_Kelamin" name="gender" type="radio" id="fbtn" />
          <label for="fbtn">Wanita</label>
        </div>
         <br>
      </div>
      <br />

       <footer class="page-footer">
       <div class="container">
          <div class="row">
                <div class="col s12">
                 <div class="prelogslide">
                    <a @click="next" class="btn theme full" style="margin:0;">Berikutnya</a>
                  </div>
              </div>
          </div>   
       </div>
    </footer>

  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        Nama_Lengkap:'',
        NIK:'',
        Alamat:'',
        Jenis_Kelamin:'',
        TempatLahir:'',
        TanggalLahir:'',
        Pekerjaan:'',
        register: true,
      },
      question:[
          {
            q:'Apa nama peliharaan anda'
          },
          {
            q:'Siapa nama ayah anda'
          }
        ],
      pintype:'password',
    }
  },
  props:['phone'],
  mounted(){
    this.payload.phone = this.phone;
    $(document).ready(function(){
      $('select').material_select();
      //window.$('.datepicker').datepicker();
      window.$('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 100 // Creates a dropdown of 15 years to control year
      });
    });
  },
  methods:{
    next(){
      var self = this;
      var valid=true;
      var notvalid='';
      for(var p in this.payload){
        if(this.payload[p]==''){
          valid=false;
          notvalid+=p.replace('_',' ')+'\n';
        }
      }

      if(!valid){
        alert(notvalid+'tidak boleh kosong');
      }else{

        function dummySuccess(){
           self.$router.push('/profilephoto');          
        }

        function onProceed(regpload) {
            console.log(regpload);
            window.localStorage.setItem("otp_header",regpload.otp_header);
            for (var k in regpload){
                if (k != "response") {
                    self.payload[k] = regpload[k];
                }
            }
            console.log(self.payload);
            self.$router.push('/cregis/'+JSON.stringify(self.payload));            
        }
        function onDenied(){
            alert("nomor sudah terfdaftar");
            self.$router.push('/login');            
        }
        function onError(e){
            alert("error : "+e.message);
        }
        
        console.log("registering");
        console.log(self.payload);
        console.log(self.phone);
        //moffas.regis_start(moffas.config.bin+self.payload.phone,onProceed,onDenied,onError);  
        dummySuccess();  
      }

    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style>
  
  input[type="text"]{
    font-weight: bold!important;
    font-size:1.5em!important;
  }
  .with-gap{
    background-color: red;
  }
  label{
    font-weight: bold!important;
    font-size:1rem!important;
  }

.upgrade .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.upgrade .prelogslide{
  position: relative;
  bottom:0px;
}
</style>