<template>
  <div style="text-align:left" class="profileotp">
      <div style="padding:20px;">
        <label style="text-align:left" class="title_panel"><h4>Konfirmasi data</h4></label>
       </div>
      <hr>
      <div style="padding:25px;background-color:white;">
        <label>Masukan kode yang telah dikirimkan ke nomor ponsel </label> <b>{{payload.phone}}</b> <label> untuk melanjutkan</label><br><br>
        <div style="font-size:25px; text-align:center;">
          <div class="row">
            <div class="col s12">
                <span class="text-theme otp_header">{{payload.otp_header}}</span> - 
               <!-- <input type="tel" width="40%" v-model="otp" maxlength="4"> -->
                <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
                <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
                <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
                <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
            </div>
          </div>
        
<!--           
          <input style="width:50px;" type="" name="" v-model="payload.otp1"> 
          <input style="width:50px;" type="" name="" v-model="payload.otp2">
          <input style="width:50px;" type="" name="" v-model="payload.otp3">
          <input style="width:50px;" type="" name="" v-model="payload.otp4"> 
-->
          <br><br>
          <a href="javascript:;" style="font-size:15px;" class="text-theme" @click="resend">Kirim ulang kode</a> <label style="font-size:15px;">(0)</label>
        </div>
      </div>
     
         
    <footer class="page-footer">
       <div class="container">
          <div class="row">
              <div class="col s12">
                 <div class="prelogslide">
                      <a @click="fin" class="btn theme full" style="margin:0;">Proses</a>
                  </div>
              </div>
              <div class="col s12">
                 <div class="prelogslide">
                      <router-link to="/login" class="btn grey full white-text" style="margin:0;">Batal</router-link>
                  </div>
              </div>
          </div>   
       </div>
    </footer>

  </div>
</template>
<script>

export default {
  name: 'profileotp',
  data: function(){
    return{
      payload:{},
      data_lengkap : true,
      otp:'',
      question:[
          {
            q:'Apa nama peliharaan anda?'
          },
          {
            q:'Siapa nama ayah anda?'
          }
        ],
      pintype:'password',
    }
  },
  props:['pload'],
  mounted(){

    window.$(".inputs").keyup(function () {

      if (this.value.length == this.maxLength) {
        var $next = window.$(this).next('.inputs');
        if ($next.length)
            window.$(this).next('.inputs').focus();
        else
            window.$(this).blur();

        console.log("sama")
      }else{
        console.log("gak sama")
      }
    });

    this.payload=JSON.parse(this.pload);
    console.log(this.pay)
    this.otp = "";
/*
    this.payload["otp1"] = "";
    this.payload["otp2"] = "";
    this.payload["otp3"] = "";
    this.payload["otp4"] = "";
*/
    //this.payload["otp_header"] = window.localStorage.getItem("otp_header");
    this.payload.otp_header = "XYZ";
  

    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      // console.log("test");
    });
  },
  methods:{
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    },
    fin(){
        var self = this;
        var otp = self.otp;

        function dummySuccess(){
          // window.localStorage.setItem("moffas.redir","/home")
           window.localStorage.setItem("moffas.phone",self.payload.phone)
           self.$router.push('/editprofile');
        }
        function onSuccess(pload) {
            self.$router.push('/home');            
        };
        function onWrongPassword() {
            alert("wrong otp,try again");
        };
        function onError() {
            self.$router.push('/login');            
        };
        self.payload["password"] = self.payload.PIN;
        self.payload["name"] = self.payload.Nama_Lengkap;
        console.log("register fin");
        console.log(self.payload);
        var pin = "";
        if (self.payload["inpin"]) {
            pin = self.payload["inpin"];
        }
        //moffas.fin(otp,pin,self.payload,onSuccess,onWrongPassword,onError);
        dummySuccess();
    },
    resend(){
        if (payload["register"]) {
            var self = this;
            function onProceed(regpload) {
                for (var k in regpload){
                    if (k != "response") {
                        self.payload[k] = regpload[k];
                    }
                }
                console.log(self.payload);
                self.$router.push('/cregis/'+JSON.stringify(self.payload));            
            }
            function onDenied(){
                alert("nomor sudah terfdaftar");
                self.$router.push('/login');            
            }
            function onError(e){
                alert("error : "+e.message);
            }
            
            console.log("registering");
            console.log(self.payload);
            console.log(self.phone);
            moffas.regis_start(moffas.config.bin+self.phone,onProceed,onDenied,onError);
        }
        else {
            self.$router.push('/pin');            
        }
    }
  },
}
</script>
<style>
  
.profileotp .inputs { 
  width: 30px !important; 
  height: 30px !important; 
  margin: 5px !important;
  text-align: center;
  border:1px solid rgb(38, 166, 154) !important;  
}
.grey{
  background-color: #CCCCCC !important;
  color: #FFFFFF !important;
}
.profileotp .otp_header{
  font-family: 'LatoBold'
}

.profileotp .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.profileotp .prelogslide{
  position: relative;
  bottom:0px;
}

</style>