<template>

  <div class="profile">

         <div class="row" style="position:relative;height:100%;">
           
            <div id="transdata" class="col s12" >
              <div style="padding:20px;padding-bottom:20px;text-align:left">
                <div class="row">
                    <div class="col s3"> <div class="profile_picture"></div></div>
                    <div class="col s7">
                        <div class="Name">Maudy Ayuningtyas</div>
                        <div class="Phone">08123456789</div>
                        <div class="Email">maudy.ayuningtyas@gmail.com</div>

                  </div>
                    <div class="col s2">
                      <div class="edit_text"><router-link  to="/editprofile">Ubah</router-link></div>
                    </div>

                </div>
               
              </div>
              <div class="header_title" style="padding:15px 20px 15px 20px;text-align:left" >
                  <div>Upgrade Akun Anda</div>
              </div>
              <div class="promo_premium" >
                    <div class="promo_text">
                      Upgrade ke akun premium untuk mendapatkan berbagai keuntungan dan kemudahan
                    </div>
                    <div class="row" style="text-align:center; font-size:1rem; font-weight:bold;">
                      <div class="col s4"><div class="circle_logo"><i class="ic text-theme  material-icons">account_balance_wallet</i></div><div class="circle_caption">Maks. Saldo Rp.10.000.000,00</div></div>
                      <div class="col s4"><div class="circle_logo">
                        <i class="ic text-theme material-icons">repeat</i>
                      </div><div class="circle_caption">Transfer</div></div>
                      <div class="col s4" style="text-align:center;">
                        <div class="circle_logo" style="padding-top:20px;">
                        <i class="ic text-theme fas fa-money-bill-alt" style="font-size: 15pt!important; margin-top: 0px; position: relative; top: -5px;"></i>
                      </div><div class="circle_caption">Tarik Tunai</div></div>
                    </div>
                    <div>
                      <a href="#modal_premium" class="btn theme full orangebg modal-trigger" style="margin:0;">Upgrade Sekarang</a>
                      <!--- if upgrade form  -->
                      <br/>
                      <br/>
                       <button  class="btn theme full modal-trigger" style="margin:0;color:#F7f7f7;font-family:'LatoBold'" disabled>Menunggu Verifikasi</button>
                    </div>

              </div>
              <div class="container premium" style="background-color:#f7f7f7;padding-top:20px;width:100%">
                <router-link  to="/topup">
                  <div class="row" style="padding:20px;margin-bottom:0px; background-color:#fff;">
                    <div class="col s1" >
                         <i class="ic material-icons" style="color:#ED5A2F" >check_circle</i>
                    </div>
                    <div class="col s10" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem;"><b>Premium Member</b></span>
                      </div>
                    </div>
                     <div class="col s1" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>
              </div>
               <div class="header_title" style="padding:15px 20px 15px 20px;text-align:left" >
                  <div>Buat Rekening D-Bank</div>
              </div>
              <div class="promo_premium" >
                    <div class="promo_text">
                      Manfaat membuka tabungan D-Bank:
                      <br/>
                      <ul class="manfaat">
                        <li>Bunga Menarik</li>
                        <li>Bebas biaya admin</li>
                        <li>Bebas biaya transfer dan tarik tunai</li>
                      </ul>
                    </div>
                    <button @click = "upgrade" class="modal-close btn theme full orangebg" style="margin:0;">Daftar Sekarang</button>
              </div>


            </div>
          
          

          </div>
          <footer class="page-footer">
             <div class="container">
                <div class="row">
                      <div class="col s12">
                       <div class="prelogslide">
                          <a @click="logout" class="full_logout" style="margin:0;"><i class="ic text-theme ico  material-icons">exit_to_app</i>Log Out</a>
                      </div>
                    </div>
                </div>   
             </div>
          </footer>
          <!--- MODAL -->

          <div id="modal_premium" class="modal">
              <div class="modal-content premium">
                <h4>UPGRADE AKUN</h4>
                <p>Siapkan KTP anda untuk kelengkapan data</p>
              </div>
              <div class="modal-footer">
                <button @click="upgrade" class="modal-close waves-effect waves-green btn-flat">OK</button>
              </div>
            </div>



  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     tanggal:'',
     nominal:'220000',
     img_profile:'img/img_avatar.png'
    }
  },
  beforeCreate(){
    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{

      upgrade(){
       // alert("premium")
         var self = this;
         self.$router.push('/upgrade');          
      },
      loginfin(){

       },
      logout(){

      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
      window.$('body').css('background-color','#fff')
      window.$('.profile_picture').css('background-image',"url('"+self.img_profile+"')")
      console.log("nmnnn")
      window.$('#modal_premium').modal();
  }
}
</script>
<style scoped>
 body{
     background-color: #fff;
  }
.profile .content{
  padding:0px 15px;
}
.profile .order{
  padding: 1rem;
}
.profile .order li{
    margin-bottom:1rem;
}
 .profile .row .col{
    padding:0px !important;
  }
.profile.indicator{
  background-color: #ED5A2F !important;
}
.profile #transdata{
  background-color: #FFF;
  padding: 0px;
  padding-bottom: 60%;
  
}
.profile .header_title{
  font-weight: bold;
  background-color: #f7f7f7;
  font-family:'LatoBold';
  font-size:1.3rem;
}
.profile #transdata .no_transaksi{
  font-size:1.2rem;
  font-family:'LatoBold';
  letter-spacing: 0.1rem;
}
.profile #transdata .profile_title{
  font-size:1.2rem;
  font-family:'LatoBold';
  letter-spacing: 0.1rem;
  color:#ED5A2F !important;
}
.profile .customer_data{
  font-size:1.2rem;
}
.profile .cust_data{
  font-weight: bolder;
}
.profile .nominal{
 color: #ED5A2F !important;
 font-weight: bold;
 font-size:1.8rem;
}
.profile .input-field {
  margin:0px 50px;
}
.profile .input-field .prefix{
  top:10px;
  left:10px;
}
.profile .search_box{
    margin: 0px 30px;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 2px #ccc!important;
    background-color: #f7f7f7;
}
.profile .search_{
  margin-bottom: 0px!important;
  border-bottom: none!important;
  
}
.profile .search_ input{
  border-bottom: none!important;
  box-shadow: none!important;
}
.profile input.search_:focus{
  border-bottom: none!important;
  box-shadow: none!important;
}
.profile .transactions{
  margin-top:0px;
  margin-bottom:0px;
  position: relative;
}
li.collection-item{
  padding-bottom: 0px!important;
}
.profile .secondary-content{
  margin:20px -15px;
  color: #ED5A2F!important;
}
li.collection-item a{
  color: #000!important;
}

.profile.orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}
.profile .page-footer{
  background: #F7f7f7;
  padding-top: 25px;
  padding-bottom: 25px
}
.profile .prelogslide{
  position: relative;
  bottom:0px;
}
.profile footer .container{
  width:100%;

}
.profile footer .row{
  padding-left: 20px;
  background: #FFF;
}
.profile .profile_picture{
  width:80px;
  height:80px;
  border-radius: 50% 50%;
  background-size:contain; 

}

.profile .Name{
 margin-left: 20px;
 font-weight: bold;
 font-size: 1.3rem;
}

.profile .Phone{
 margin-left: 20px;
 font-size: 1rem;
 color: #bdbdbd;
}
.profile .Email{
 margin-left: 20px;
 font-size: 1rem;
  color: #bdbdbd;
}

.profile .edit_text{
 float:right;
 font-size: 1.2rem;
 color: #ED5A2F;
 text-decoration: underline;
}
.profile .promo_premium{
  padding:15px 20px;
  font-size:1.2rem;
}
.profile .circle_logo{
  border: 1px solid #ED5A2F;
  color: #ED5A2F;
  border-radius: 50% 50%;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  width: 50px;
  margin: 10px auto;
  margin-bottom:5px;
    
}
.profile .circle_caption{
  font-family: 'LatoBold';
}
.profile .orangebg{
    background-color: rgba(247, 247, 247, 0.97)!important;
    color: rgb(237, 90, 47)!important;
    font-family: 'LatoBold';
}
.profile .manfaat li{
  list-style-type: disc;
  display: list-item;
  margin-left: 20px; 
}
.profile .full_logout{
  color: #ED5A2F;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 1.2rem;
  font-family: 'LatoBold'
}
.profile .ico{
  display: inline-flex;
  vertical-align: top;
  margin-right: 5px;
}
#modal_premium  h4{
  font-family: 'LatoBold';
  font-size : 1.5rem;
  text-transform: uppercase;
  text-align: center;
  color:#ED5A2F;
}

#modal_premium p{
  font-family: 'LatoLight';
  font-size : 1.3rem;
  font-weight: bold;
  text-align: center;
  color:#000;
}
#modal_premium .modal-footer{
  text-align: center;
  font-weight: bold;
  font-family: 'LatoBold';
  border-top:1px solid #ED5A2F;
}
</style>
