<template>
  <div class="editprofile">
      <div style="padding:20px;">
        <label style="text-align:left; font-size" class="title_panel"> <h4 style="text-align:left; display:block;margin-bottom:20px;" class="title_panel">Edit Profile Anda</h4></label>
        <div class="row">
                    <div class="col s3"> <div class="profile_picture"></div></div>
                    <div class="col s9 valign-wrapper" > <div  class="valign-wrapper middle"><router-link to="/gantifoto" class="linkstyle">Ganti Foto</router-link></div></div>
        </div>
         <div class="row">
          <div class="col s10">
             <label style="float:left">Nama Lengkap</label>
            <div class="input-field">
              <input type="text" v-model="payload.Nama_Lengkap" placeholder="Nama Lengkap" Disabled/>
            </div>
          </div>
          <div class="col s2 valign-wrapper">
            <div >
              <router-link to="/editphone" class="linkstyle">Ubah</router-link>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s10">
             <label style="float:left">No. Ponsel</label>
            <div class="input-field">
              <input type="text" v-model="payload.No_Ponsel" placeholder="No. Ponsel" Disabled/>
            </div>
          </div>
          <div class="col s2 valign-wrapper">
            <div >
              <router-link to="/editphone" class="linkstyle">Ubah</router-link>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col s10">
             <label style="float:left">Alamat Email</label>
            <div class="input-field">
              <input type="text" v-model="payload.Email" placeholder="Email" Disabled/>
            </div>
          </div>
          <div class="col s2">
            <div >
              <router-link to="/editemail" class="linkstyle">Ubah</router-link>
            </div>
          </div>
        </div>
        
        
      </div>
      
      <footer class="page-footer">
       <div class="container">
          <div class="row">
                <div class="col s12">
                 <div class="prelogslide">
                    <a @click="next" class="btn theme full" style="margin:0;">Simpan</a>
                  </div>
              </div>
          </div>   
       </div>
    </footer>
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        No_Ponsel:'081934462062',
        Nama_Lengkap:'Maudy Ayuningtyas',
        Email:'desypg@gmail.com',
        PIN:'',
        phone:'081934462062',
        register: true,
        img_profile:'img/img_avatar.png'
      },
      pintype:'password',
    }
  },
  props:['phone'],
  mounted(){
    var self = this
    window.$('body').css('background-color','#f7f7f7')
    window.$('.profile_picture').css('background-image',"url('"+self.payload.img_profile+"')")
  },
  beforeCreate(){
    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{
    next(){
      var self = this;
      var valid=true;
      var notvalid='';
      for(var p in this.payload){
        if(this.payload[p]==''){
          valid=false;
          notvalid+=p.replace('_',' ')+'\n';
        }
      }

      if(!valid){
        alert(notvalid+'tidak boleh kosong');
      }else{

        function dummySuccess(){
          let py = self.payload 
          window.localStorage.setItem("PIN",py.PIN);
           self.$router.push('/cregis/'+JSON.stringify(self.payload));          
        }

        function onProceed(regpload) {
            console.log(regpload);
            window.localStorage.setItem("otp_header",regpload.otp_header);
            for (var k in regpload){
                if (k != "response") {
                    self.payload[k] = regpload[k];
                }
            }
            console.log(self.payload);
            self.$router.push('/cregis/'+JSON.stringify(self.payload));            
        }
        function onDenied(){
            alert("nomor sudah terfdaftar");
            self.$router.push('/login');            
        }
        function onError(e){
            alert("error : "+e.message);
        }
        
        console.log("registering");
        console.log(self.payload);
        console.log(self.phone);
        //moffas.regis_start(moffas.config.bin+self.payload.phone,onProceed,onDenied,onError);  
        dummySuccess();  
      }
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style>
  
  input[type="text"]{
    font-weight: bold!important;
    font-size:1.5em!important;
  }
  .with-gap{
    background-color: red;
  }
  label{
    font-weight: bold!important;
    font-size:1rem!important;
  }
.editprofile .profile_picture{
  width:90px;
  height:90px;
  border-radius: 50% 50%;
  background-size:contain; 

}
.editprofile .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.editprofile .prelogslide{
  position: relative;
  bottom:0px;
}
.editprofile .middle{
  height: 90px;
  padding: 20px;
  font-size: 1rem;
}
.editprofile .linkstyle{
  font-size: 1rem;
  text-decoration: underline;
}
</style>