<template>

  <div class="profilephoto">

         <div class="row" style="position:relative;height:100%; padding;20px;">
           
            <div id="transdata" class="col s12" >
              <div style="padding:20px;padding-bottom:20px;text-align:left">
                <div class="row valign-wrapper">
                    <div class="col s4"> <div class="foto valign-wrapper done"><i class="center-align material-icons done ">check</i></div></div>
                    <div class="col s8 ">
                        <div class="foto_title">Foto KTP</div>
                        <div class="foto_desc">Ambil Foto KTP Anda dengan jelas</div>

                  </div>
                    
                </div>
                 <div class="row valign-wrapper">
                    <div class="col s4"> <div class="foto valign-wrapper"><i class="center-align ico material-icons text-theme ">add_a_photo</i></div></div>
                    <div class="col s8 ">
                        <div class="foto_title">Selfie</div>
                        <div class="foto_desc">Ambil foto selfie Anda</div>

                  </div>
                    
                </div>
               
              </div>
              


            </div>
          
          

          </div>
         
        <footer class="page-footer">
              <div class="container">
                <div class="row">
                      <div class="col s12">
                       <div class="prelogslide">
                          <a @click="next" class="btn theme full" style="margin:0;">Lanjut</a>
                        </div>
                    </div>
                </div>   
             </div>
          </footer> 

  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     tanggal:'',
     nominal:'220000',
     img_profile:'img/img_avatar.png'
    }
  },
  beforeCreate(){
    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{

      upgrade(){
       // alert("premium")
         var self = this;
         self.$router.push('/upgrade');          
      },
      loginfin(){

       },
      logout(){

      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
      window.$('body').css('background-color','#f7f7f7')
      
  }
}
</script>
<style scoped>
 body{
     background-color: #f7f7f7;
  }
 .profilephoto .row .col{
    padding:0px !important;
  }

.profilephoto #transdata{
  background-color: #f7f7f7;
  padding: 0px;
  padding-bottom: 60%;
  
}

.profilephoto .orange{
  color:#ED5A2F !important;
  font-weight: bold;
}
.profilephoto .page-footer{
  background: #F7f7f7;
  padding-top: 25px;
  padding-bottom: 25px
}
.profilephoto .prelogslide{
  position: relative;
  bottom:0px;
}
.profilephoto footer .container{
  width:100%;

}
.profilephoto footer .row{
  padding-left: 20px;
  
}
.profilephoto .foto{
  width:100px;
  height:100px;
  border-radius: 50% 50%;
  border:1px solid #ED5A2F;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
.done{
  background-color: #ED5A2F;
  color :#FFF;
  font-size: 2rem!important;
  margin:0 auto;
}

.profilephoto .foto_title{
 margin-left: 20px;
 font-size: 1.3rem;
 font-family: 'LatoBold';
 color:#ED5A2F;
}

.profilephoto .foto_desc{
 margin-left: 20px;
 font-size: 1rem;
 color: #bdbdbd;
}

.profilephoto .circle_logo{
  border: 1px solid #ED5A2F;
  color: #ED5A2F;
  border-radius: 50% 50%;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  width: 50px;
  margin: 10px auto;
  margin-bottom:5px;
    
}
.profilephoto .circle_caption{
  font-family: 'LatoBold';
}
.profilephoto .orangebg{
    background-color: rgba(247, 247, 247, 0.97)!important;
    color: rgb(237, 90, 47)!important;
    font-family: 'LatoBold';
}
.profilephoto .ico{
   font-size: 4rem!important;
   margin:0 auto;
   margin-top: -5px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .profilephoto .page-footer{
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
}
</style>
