<template>
  <div class="upgradeconfirm" style="text-align:left">
      <div style="padding:25px; font-size:1.2rem;">
        <label style="text-align:left" class="title_panel"><h4>Konfirmasi data diri Anda</h4></label>
        <label style="">Nama Lengkap</label><br>
        <span><b>{{payload.Nama_Lengkap}}</b></span><br>
        <label style="">NIK</label><br>
        <span><b>{{payload.NIK}}</b></span><br>
         <label style="">Alamat Tempat Tinggal</label><br>
        <span><b>{{payload.Alamat}}</b></span><br>
        <label style="">Tempat Lahir</label><br>
        <span><b>{{payload.Tempat_Lahir}}</b></span><br>
        <label style="">Tanggal Lahir</label><br>
        <span><b>{{payload.Tanggal_Lahir}}</b></span><br>
        <label style="">Pekerjaan</label><br>
        <span><b>{{payload.Pekerjaan}}</b></span><br>
        <label style="">Jenis Kelamin</label><br>
        <span><b>{{payload.Jenis_Kelamin}}</b></span><br>
      </div>
      <footer class="page-footer">
       <div class="container">
          <div class="row">
                <div class="col s12">
                 <div class="prelogslide">
                    <a @click="fin" class="btn theme full" style="margin:0;">Konfirmasi</a>
                  </div>
              </div>
          </div>   
       </div>
    </footer>
    
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        Nama_Lengkap:'Maudy Ayuningtyas',
        NIK:'1234566789110',
        Alamat:'Jalan Mawar no.15A Setia Budi',
        Tempat_Lahir:'Jakarta',
        Tanggal_Lahir:'17-05-1984',
        Pekerjaan:'Karyawan Swasta',
        'Jenis_Kelamin':'Wanita'

      }
    }
  },
  mounted(){

    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    },
    fin(){
        var self = this;
        var otp = self.otp;

        function dummySuccess(){
           // window.localStorage.setItem("moffas.phone",self.payload.phone)
           self.$router.push('/profile');
        }
        function onSuccess(pload) {
            self.$router.push('/home');            
        };
        function onWrongPassword() {
            alert("wrong otp,try again");
        };
        function onError() {
            self.$router.push('/login');            
        };
        self.payload["password"] = self.payload.PIN;
        self.payload["name"] = self.payload.Nama_Lengkap;
        console.log("register fin");
        console.log(self.payload);
        var pin = "";
        if (self.payload["inpin"]) {
            pin = self.payload["inpin"];
        }
        //moffas.fin(otp,pin,self.payload,onSuccess,onWrongPassword,onError);
        dummySuccess();
    },
    resend(){
        if (payload["register"]) {
            var self = this;
            function onProceed(regpload) {
                for (var k in regpload){
                    if (k != "response") {
                        self.payload[k] = regpload[k];
                    }
                }
                console.log(self.payload);
                self.$router.push('/cregis/'+JSON.stringify(self.payload));            
            }
            function onDenied(){
                alert("nomor sudah terfdaftar");
                self.$router.push('/login');            
            }
            function onError(e){
                alert("error : "+e.message);
            }
            
            console.log("registering");
            console.log(self.payload);
            console.log(self.phone);
            moffas.regis_start(moffas.config.bin+self.phone,onProceed,onDenied,onError);
        }
        else {
            self.$router.push('/pin');            
        }
    }
  },
}
</script>
<style>
body{
  background-color: #f7f7f7;
}
.inputs { 
  width: 40px!important;
  height: 40px; 
  margin: 5px !important;
  text-align: center;
  border:1px solid rgb(38, 166, 154) !important;  
}
.grey{
  background-color: #CCCCCC !important;
  color: #FFFFFF !important;
}
label{
margin-top: 25px!important;
font-size: 1.1rem!important;
}
.upgradeconfirm .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.upgradeconfirm .prelogslide{
  position: relative;
  bottom:0px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .upgradeconfirm .page-footer{
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
}
</style>