<template>

  <div class="ctransfer">
         <div class="row">
           
            <div id="test1" class="col s12">
              <div style="padding:25px; background-color:#FFF;">
                  Anda akan melakukan transfer dana ke:

              </div>
               <div style="background-color:rgb(247,247,247);">
                  <div style="padding:0px; ">
                    <div class="row">
                        <div class="col s4" >

                          <div style="padding:20px; ">Penerima</div>

                        </div>
                        <div class="col s8" >
                          <div style="padding:20px; ">
                            Sekar Dirgantaru Hayuningtias
                            08723123123
                            </div>
                        </div>
                        <hr style="border-bottom:1px solid rgb(241,241,241);" />
                         <div class="col s4">
                           <div style="padding:20px; ">Nominal</div>

                        </div>
                        <div class="col s8" style="color:#ee6e73;font-weight:bold;">
                             <div style="padding:20px; ">Rp 25.000,00</div>
                        </div>
                        <hr style="border-bottom:1px solid rgb(241,241,241);" />
                        <div class="col s12" >
                            <div style="padding:20px; ">Saldo anda  <b>Rp. 320.000,00</b></div>
                        </div>

                  </div>
                 
                  </div>
                </div>
                   
            </div>
           
          </div>
           <footer class="page-footer">
           <div class="container">
              <div class="row">
                    <div class="col s12">
                      <div class="prelogslide">
                        <a @click="next" class="btn theme full" style="margin:0;">Proses</a>
                        <br>
                        <br>
                        <router-link to="/home" class="btn grey full white-text" style="margin:0;">Batal</router-link>
                      </div>
                  </div>
              </div>   
           </div>
        </footer>
  </div>

</template>
<script>

export default {
  name: 'topup',
  data: function(){
    return{
     
    }
  },
  mounted(){
   // window.$('.tabs').tabs();
  },
  methods:{
    next(){
      var self = this;
      function onUnauth() {
           self.$router.push({ path:'/pinTransfer/bank'})
        }
        onUnauth();     
      }
    }
}
</script>
<style>
body{
  background-color:rgb(247,247,247);
}
.active{
  background-color:transparent !important;
}
.collapsible-header {
    position: relative !important;
}

.collapsible-header i.material-icons {
    position: absolute !important;
    right: 0 !important;
}
.collapsible li.active > i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}

.collapsible .collapsible {
  margin: 0!important;;
}

.collapsible li#atmdanamon.active  i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}
.content{
  padding:0px 15px;
}
.order{
  padding: 1rem;
}
.order li{
    margin-bottom:1rem;
}
  .row .col{
    padding:0px !important;
  }
.indicator{
  background-color: #ED5A2F !important;
}
#test1{
  background-color:rgb(247,247,247) !important;
}
 .ctransfer .prelogslide{
  position:  relative;
}
.ctransfer .page-footer{
  background-color:rgb(247,247,247);
  padding-top:25px;
}
</style>
