<template>
  <div style="text-align:left">
      <div style="padding:25px;">
        <label style="text-align:left" class="title_panel"><h4>Selamat datang kembali!</h4></label>
        <label >No. Ponsel</label><br>
        <span class="datas"><b>{{payload.phone}}</b></span><br>
        <div v-if="data_lengkap" id="data_lengkap">
        <label>Nama Lengkap</label><br>
        <span  class="datas"><b>{{payload.Nama_Lengkap}}</b></span><br>
       
        </div>
      </div>
      <hr>
      <div style="padding:25px;background-color:white;">
       <span style="font-size:1rem"> Masukan kode yang telah dikirimkan ke nomor ponsel  <b>{{payload.phone}}</b> untuk melanjutkan</span><br><br>
        <div style="font-size:25px; text-align:center;padding-bottom:30px;margin-bottom:20px;">
          <span class="text-theme">{{payload.otp_header}}</span> - 
         <!-- <input type="tel" width="40%" v-model="otp" maxlength="4"> -->
          <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
          <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
          <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
          <input type="tel" class="inputs" data-maxlength="1" maxlength="1">
<!--           
          <input style="width:50px;" type="" name="" v-model="payload.otp1"> 
          <input style="width:50px;" type="" name="" v-model="payload.otp2">
          <input style="width:50px;" type="" name="" v-model="payload.otp3">
          <input style="width:50px;" type="" name="" v-model="payload.otp4"> 
-->
          <br><br>
          <a href="javascript:;" style="font-size:15px;" class="text-theme" @click="resend">Kirim ulang kode</a> <label style="font-size:15px;">(0)</label>
        </div>
      </div>
      <div class="prelogslide confirmlogin">
        <a @click="fin" class="btn theme full" style="margin:0;">Proses</a>
        <br>
        <br>
        <router-link to="/login" class="btn grey full white-text" style="margin:0;">Batal</router-link>
      </div>
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{},
      data_lengkap : true,
      otp:'',
      question:[
          {
            q:'Apa nama peliharaan anda?'
          },
          {
            q:'Siapa nama ayah anda?'
          }
        ],
      pintype:'password',
    }
  },
  props:['pload'],
  mounted(){

    window.$(".inputs").focus(function () {
      window.$(this).val('')
    })

    window.$(".inputs").keyup(function () {

      if (this.value.length == this.maxLength) {
        var $next = window.$(this).next('.inputs');
        if ($next.length)
            window.$(this).next('.inputs').focus();
        else
            window.$(this).blur();

        console.log("sama")
      }else{
        console.log("gak sama")
      }
    });
    this.pload = window.localStorage.getItem("iiotp");
    this.payload=JSON.parse(this.pload);
    console.log(this.pay)
    this.otp = "";
/*
    this.payload["otp1"] = "";
    this.payload["otp2"] = "";
    this.payload["otp3"] = "";
    this.payload["otp4"] = "";
*/
    //this.payload["otp_header"] = window.localStorage.getItem("otp_header");
    this.payload["otp_header"] = "XYZ";
    if (this.payload["register"]) this.data_lengkap = true;
     
    console.log(this.payload);
    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      // console.log("test");
    });
  },
  methods:{
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    },
    fin(){
        var self = this;
        var otp = self.otp;

        function dummySuccess(){
           window.localStorage.setItem("moffas.redir","/home")
         //  window.localStorage.setItem("moffas.phone",self.payload.phone)
           self.$router.push('/home');
        }
        function onSuccess(pload) {
            self.$router.push('/home');            
        };
        function onWrongPassword() {
            alert("wrong otp,try again");
        };
        function onError() {
            self.$router.push('/login');            
        };
        self.payload["password"] = self.payload.PIN;
        self.payload["name"] = self.payload.Nama_Lengkap;
        console.log("register fin");
        console.log(self.payload);
        var pin = "";
        if (self.payload["inpin"]) {
            pin = self.payload["inpin"];
        }
        //moffas.fin(otp,pin,self.payload,onSuccess,onWrongPassword,onError);
        dummySuccess();
    },
    resend(){
        if (payload["register"]) {
            var self = this;
            function onProceed(regpload) {
                for (var k in regpload){
                    if (k != "response") {
                        self.payload[k] = regpload[k];
                    }
                }
                console.log(self.payload);
                self.$router.push('/cregis/'+JSON.stringify(self.payload));            
            }
            function onDenied(){
                alert("nomor sudah terfdaftar");
                self.$router.push('/login');            
            }
            function onError(e){
                alert("error : "+e.message);
            }
            
            console.log("registering");
            console.log(self.payload);
            console.log(self.phone);
            moffas.regis_start(moffas.config.bin+self.phone,onProceed,onDenied,onError);
        }
        else {
            self.$router.push('/pin');            
        }
    }
  },
}
</script>
<style>
  
.inputs { 
  width: 40px!important;
  height: 40px; 
  margin: 5px !important;
  text-align: center;
  border:1px solid rgb(38, 166, 154) !important;  
}
.grey{
  background-color: #CCCCCC !important;
  color: #FFFFFF !important;
}
.prelogslide.confirmlogin{
  position:  relative;
}
.datas{
  font-size:1.2rem;
}

</style>