<template>
  <div class="forgetpin">
    <div style="text-align:center">
      <div style="padding:20px;">
          <div>
            <!-- <img class="logo-img" src="dist/img/logo.png" alt=""> -->
          </div>
          <h4 style="text-align:left; display:block;" class="title_panel">Lupa PIN Anda?</h4>
          <div style="text-align:left; margin-bottom:25px;">
                Jawab pertanyaan keamanan Anda untuk membuat PIN baru.
          </div>
          <label style="float:left">Nama Binatang Peliharaan Anda?</label>
          <div class="input-field">
            <input type="text" v-model="answer" placeholder="Jawaban" >
          </div>
      </div>
     
       
    </div>

    <footer class="page-footer">
       <div class="container">
          <div class="row">
                <div class="col s12">
                 <div class="prelogslide">
                    <a @click="next" class="btn theme full" style="margin:0;">Berikutnya</a>
                  </div>
              </div>
          </div>   
       </div>
    </footer>

  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      answer:'',
    }
  },
  mounted(){
  },
  methods:{
    next(){
      if(this.answer==""){
        alert("jawaban harus diisi");
      }else{
        var self = this;
        function onProceed(ss) {
            console.log(ss);
            window.localStorage.setItem("otp_header",ss.otp_header);
            self.$router.push({ path:'/pin'})
        }
        function onUnauth() {
           

            self.$router.push({ path:'/pinotp'})
            

        }
        function onDenied() {
            console.log("Denied");
        }
        function onError(e) {
            console.log(e);
        }
        console.log(moffas.config.bin+this.phone);
        // moffas.login_start(moffas.config.bin+self.phone,onProceed,onUnauth,onDenied,onError);  
        onUnauth();     
      }
    }
  },
}
</script>
<style scoped>
.forgetpin{
  font-size:1.3rem;
}
  .forgetpin #login_phonenumber{
    font-weight: bold;
    font-size:1.5em;
  }
.forgetpin label{
font-size: 1.2rem!important;
}
.forgetpin .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.forgetpin .prelogslide{
  position: relative;
  bottom:0px;
}
</style>
