<template>
<div>
  <div class="row">
    <div v-if="msg!=''" class="col s12">
      <div class="panel theme">
        <p class="namamember">{{user}}</p>
        <p class="nomember">NO MEMBER {{memberno}}</p>
        <br>
        <p class="saldo_text">Saldo Anda</p>
        <p class="saldo" style="font-size: 20px;">Rp. {{saldo}}</p>
      </div>
    </div>
    <br>
    <div class="col s12 m12 l12">
<!--<router-link to="/home">Go back</router-link>
      <a class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme  material-icons">account_balance_wallet</i><br><span>Top Up</span></a>
-->
      <router-link to="/topup" class="waves-effect waves-light menubtn z-depth-1">
      <i class="ic text-theme  material-icons">account_balance_wallet</i><br><span>Top Up</span></router-link>
      <router-link to="/transfer" class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme material-icons">repeat</i><br><span>Transfer</span></router-link>
      <a  @click.stop="openqr" class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme fa fa-qrcode"></i><br><span>Scan QR</span></a>
      <a class="waves-effect waves-light menubtn z-depth-1 menuitem"><i class="ic text-theme fas fa-money-bill-alt"></i><br><span>Tarik Tunai</span></a>
      <a class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme fa fa-shopping-cart"></i><br><span>Pembelian</span></a>
      <a class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme fa fa-cart-arrow-down"></i><br><span>Pembayaran</span></a>
    </div>
  </div>
  <my-preloader ref="preload"></my-preloader>
</div>
</template>
<script>

export default {
  name: 'home',
  data () {
    return {
      user:'Maudy Ayuningtyas',
      memberno:'1203001125',
      saldo:'0,00',
      msg:'pengumuman hari ini tidak ada pengumuman',
    }
  },
  computed:{
  },
  methods:{
    openqr(){
    var self = this;
        console.log("going to scan");
        //window.localStorage.setItem("moffas.redir","/home");
        //window.location="/scan.html"
        //window.localStorage.setItem("moffas.redir","/home");
        self.$router.push({ path:'/qr_scan'});
   },
  },
  mounted(){
    var self = this;  
    window.localStorage.removeItem("moffas.redir");


    

    /*
    QRScanner.cancelScan(function(status){
      console.log(status);
    });
    */
    function onError(e) {
        alert("ERROR : "+e.message);
    }
    
    function onSuccess(d) {
        console.log(d);
        var dd = JSON.parse(d);
        var n = dd["balance"];
        self.saldo = n.toString();
        self.user = dd["name"];
        self.memberno = dd["username"];
        console.log(self.saldo);
    }
    var pload = "";
    // moffas.do_request("getBalance",pload,onSuccess,onError);
  },
}
</script>
<style scoped>

  .menuitem{
    font-family: 'CabinSemiBold'!important;
  }
  i{
    margin-bottom: 10px!important;
  }
  .nomember{
     font-family: 'CabinRegular'!important;
     font-size:1rem!important;
     letter-spacing: 0.3rem;
  }
  .namamember{
     font-family: 'CabinSemiBold'!important;
     font-size:1rem!important;
     text-transform: uppercase;
     letter-spacing: 0.1rem;
  }
  .saldo_text{
    font-size:1.2rem;
  }
   .saldo{
    font-size:1.4rem!important;
    font-weight: bold;
  }

</style>