<template>
  <div class="navigasi">
    <!-- side menu -->
    <ul id="slide-out" class="side-nav theme">
        <li>
    <!--           <div class="user-view" align="center">
            <a href="#"><img width="250px" height="250px" v-bind:src="profile_img"></a>
          </div> -->
        </li>
        <li align="center"><span class="name">Hi, {{fullname}}</span></li>
        <li><a id="profile-button" href="#!" class="waves-effect" style="color:white;">
          <i class="material-icons navic">account_box</i> Profile Anda</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#!" class="waves-effect" style="color:white;"><i class="material-icons navic">contacts</i> Kontak Informasi</a></li>
        <li><a href="#!" class="waves-effect" style="color:white;"><i class="material-icons navic">question_answer</i> FAQ</a></li>
        <li><a id="logout-button" @click="logout" class="waves-effect" style="color:white;"><i class="material-icons navic">exit_to_app</i> Log Out</a></li>
    </ul>
    <!-- navbar -->
    <div class="navbar-fixed" style="margin-bottom:80px;">
        <nav class="nav-extended invtheme">
          <div class="nav-wrapper">
            <ul>
<!--               <li v-if="showback==false">
                 <a data-activates="slide-out" class="jj left"><i class="material-icons" style="color:#fff">menu</i></a>                
              </li> -->
              <li v-if="showback">
                 <a href="javascript:;" @click="back" class="left"><i class="material-icons">keyboard_arrow_left</i></a>      
              </li>
              <li class="headlogo" style="text-align:center;width:100%;">
                <span style="max-height: 2em;font-weight: bolder; vertical-align: center;font-family:'LatoBold'; text-transform:uppercase;"id="titlePage"></span>
              </li>
              <li v-if="this.$route.path=='/home'" class="right">
                 <router-link to="/notification"  class="left"><i class="material-icons" style="color:grey;">notifications</i></router-link>    
                 <router-link to="/settings" class="left"><i class="material-icons" style="color:grey;">settings</i></router-link>
              </li>
<!--              <li style="float:right;padding-right:10px;">
                <span style="color:#fff">Hi, {{fullname}}</span>
              </li> -->
            </ul>
          </div>

           <div class="container" style="text-align:center;margin-top:0px; width:100%; " v-bind:class="{ 'hilang': hilang }">
            <div class="row topmenu" style="margin-top: 0px; color:rgb(128,128,128);">
              <div class="col s3">
                <router-link to="/home" ><i class="ic material-icons" v-bind:class="{ 'text-theme': ishome }"  >home</i><br><span v-bind:class="{ 'text-theme': ishome }"  >Home</span></router-link>

              </div>
              <div class="col s3">
                <i class="ic material-icons" >store</i><br><span>Merchant</span>
              </div>
              <div class="col s3">
                <i class="ic material-icons" >description</i><br><span>Transaksi</span>
              </div>
              <div class="col s3">
                <router-link to="/profile" ><i class="ic material-icons" v-bind:class="{ 'text-theme': isprofile }" >person</i><br><span v-bind:class="{ 'text-theme': isprofile }">Profile</span></router-link>
              </div>
            </div>
        </div>

        </nav>

         

      </div>
  </div>
</template>
<script>
import router from '../router'

export default {
  name: 'navigasi',
  data: function(){
    return{
      fullname:'',
      hmsg:'',
      title:'',
      showback: true,
      ishome:false,
      ismerchant:false,
      istrans:false,
      isprofile:false,
      hilang:false
    }
  },
  methods:{
    back(){
      if(this.$route.path=="/qr_scan"){
          //destroyQRScanner()
          this.$router.go(-1); 
      }else{
        this.$router.go(-1);
      }
      
      //this.$route.back();
    },
    destroyQRScanner(){

      console.log("coba in")
       if(this.$route.path!="/qr_scan"){
          /*
          window.QRScanner.destroy(function(status){
            console.log(status);
          })       
          */   
      }
    },
    logout: function(){
      var self=this;
      var message = "Apakah anda ingin logout?";
      var title = "D-Money";
      var buttonLabels = ["Ya","Tidak"];
      navigator.notification.confirm(message, confirmCallback, title, buttonLabels);
      function confirmCallback(buttonIndex) {
        if (buttonIndex == 1) {
          window.localStorage.clear();
          kimpul_start();
          self.$router.go('/login');
        }
      }
    },
    exit: function(){
    let name = this.$route.name;
      
      if(name=='home'){     
        var message = "Apakah anda ingin keluar dari Applikasi?";
        var title = "Keluar Applikasi";
        var buttonLabels = ["Ya","Tidak"];
        navigator.notification.confirm(message, confirmCallback, title, buttonLabels);
        function confirmCallback(buttonIndex) {
          if (buttonIndex == 1) {
            navigator.app.exitApp();
          }
        }
        console.log("back"+name);
      }else{
        console.log(name);
      }
    }
  },
   watch: {
    '$route' (value) {
      // react to route changes...
      var self = this 
      self.$emit('close-modal');
      window.$('.modal-overlay').hide();
      self.showback=true;
      if(value.meta.title !==undefined){
        self.hmsg = value.meta.title 
        self.showback = value.meta.showback 
      }else{
        self.hmsg = value.name
      }
      window.$("#titlePage").html(value.meta.title)
      self.destroyQRScanner();
      this.$nextTick(function () {
        console.log('harusnya bisa diupdate disini') // => 'updated'
        window.$("#titlePage").html(self.hmsg)
        window.$(".topmenu div.col.s3").css('color','rgb(128, 128, 128)')
      })
      self.ishome = false
      self.ismerchant = false
      self.istrans = false
      self.isprofile = false
       self.hilang = true 

      if(value.path=="/home")self.ishome=true;
      if(value.path=="/merchant")self.ismerchant=true;
      if(value.path=="/transaction")self.istrans=true;
      if(value.path=="/profile")self.isprofile=true;

      if(self.ishome || self.isprofile  || self.istrans || self.ismerchant ){
        self.hilang = false
        window.$('.navbar-fixed').css('margin-bottom','80px')
      }else{
        self.hilang = true
        console.log("hilangkan "+value.path+" "+self.ishome)
        window.$('.navbar-fixed').css('margin-bottom','0px')
      }


    }
  },
  created(){
    var self = this
    //HISTORY BACK HANDLER
    console.log("HISTORY CREATED ")
    // Attach onpopstate event handler
    window.onpopstate = function(event) {
     
     if(self.$route.path=="/editphone"){
          //destroyQRScanner()
           self.$router.push('/editprofile');
      }else if((self.$route.path).includes("/profileotp")){
         self.$router.replace('/profile');
      }else{
        //self.$router.go(-1);
         return;
      }
      return;
    };

  },
  mounted: function(){
    var self = this

    self.ishome = false
    self.ismerchant = false
    self.istrans = false
    self.isprofile = false
    self.hilang = false

    if(this.$route.path=="/home")self.ishome=true;
    if(this.$route.path=="/merchant")self.ismerchant=true;
    if(this.$route.path=="/transaction")self.istrans=true;
    if(this.$route.path=="/profile")self.isprofile=true;

     if(self.ishome || self.isprofile  || self.istrans || self.ismerchant ){
      self.hilang = false
      window.$('.navbar-fixed').css('margin-bottom','80px')
      console.log("ada")
    }else{
      self.hilang = true
      console.log("hilangkan "+this.$route.path+" "+self.ishome)
      window.$('.navbar-fixed').css('margin-bottom','0px')
    }


    let name = this.$route.name;
    this.hmsg = this.$route.name;


    let currentRoute = router.currentRoute;
    console.log("currentRoute ")
    console.log(currentRoute)
    if(currentRoute.meta !==undefined){
      let meta = currentRoute.meta
      self.title = meta.title
      window.$("#titlePage").html(self.title)
      if(meta.showback !==undefined){
        self.showback = meta.showback
      }else{
        self.showback = true
      }
      
    }

    $(".jj").sideNav({
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor,
        draggable: true,
      });
    this.fullname = window.localStorage.getItem("username");

    window.document.addEventListener("backbutton", function(e){
             if(this.$route.path=="/qr_scan"){
                e.preventDefault();
                /*
                window.QRScanner.destroy(function(status){
                  console.log(status);
                })
                */
                //history.back();   
                this.$router.go(-1);
            }
        }, false);

  }
}
</script>

<style type="text/css" scoped>
.headlogo{
  position: absolute;
  text-align: center;
  z-index: -10000;
  font-size:1.5em;
}
nav .container{
    text-align: center;
    margin-top: 0px;
    width: 100%;
    line-height: 0;
    font-family: LatoBold;
    font-size: 1rem;
    text-transform: uppercase;
}

.navigasi nav a span{
  color:rgb(128, 128, 128);
}
 .navigasi .hilang{
    display: none;
  }
</style>
