<template>

  <div class="notifikasi">

         <div class="row" style="position:relative;height:100%;margin-bottom:0px;">
           
            <div id="transdata" class="col s12" >
              
              <div class="container premium" style="background-color:#f7f7f7;width:100%">
                  
                  <div class="row valign notif_title" >
                    <div class="col s12 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>04 Desember 2017</b></span>
                      </div>
                    </div>
                  </div>

                 <router-link  to="/faq" style="color:#000!important;">
                  <div class="row valign" style="margin-bottom: 0px;padding:15px 20px; background-color:#fff;border-top: 1px solid #F7f7f7;">
                    <div class="col s11 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>Refund dari bebek goreng sinjay (No. Referensi: XYZ123-026701)</b></span>
                      </div>
                    </div>
                     <div class="col s1 valign-wrapper" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>
                <router-link  to="/faq" style="color:#000!important;border-top:1px solid #F7f7f7;">
                  <div class="row valign" style="margin-bottom: 0px;padding:15px 20px;border-top:1px solid #F7f7f7; background-color:#fff;">
                    <div class="col s11 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>TOP UP IDR 100.000,00 dari ATM Danamon</b></span>
                      </div>
                    </div>
                     <div class="col s1 valign-wrapper" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>
                <div class="row valign notif_title" >
                    <div class="col s12 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>02 Desember 2017</b></span>
                      </div>
                    </div>
                  </div>

                 <router-link  to="/faq" style="color:#000!important;">
                  <div class="row valign" style="margin-bottom: 0px;padding:15px 20px; background-color:#fff;border-top: 1px solid #F7f7f7;">
                    <div class="col s11 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>Refund dari bebek goreng sinjay (No. Referensi: XYZ123-026701)</b></span>
                      </div>
                    </div>
                     <div class="col s1 valign-wrapper" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>
                <router-link  to="/faq" style="color:#000!important;border-top:1px solid #F7f7f7;">
                  <div class="row valign" style="margin-bottom: 0px;padding:15px 20px;border-top:1px solid #F7f7f7; background-color:#fff;">
                    <div class="col s11 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>TOP UP IDR 100.000,00 dari Cashier</b></span>
                      </div>
                    </div>
                     <div class="col s1 valign-wrapper" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>

              </div>
              
            
            </div>
          
          

          </div>
        
  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     Version:'1.01',
     nominal:'220000',
     img_profile:'img/img_avatar.png'
    }
  },
  beforeCreate(){
    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{

      upgrade(){
       // alert("premium")
         var self = this;
         self.$router.push('/upgrade');          
      },
      loginfin(){

       },
      logout(){

      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
      window.$('body').css('background-color','#f7f7f7')
      window.$('.profile_picture').css('background-image',"url('"+self.img_profile+"')")
      console.log("nmnnn")
      window.$('#modal_premium').modal();
  }
}
</script>
<style scoped>
 body{
     background-color: #f7f7f7;
  }
.notifikasi .content{
  padding:0px 15px;
}

 .notifikasi .row .col{
    padding:0px !important;
  }
.notifikasi#transdata{
  background-color: #FFF;
  padding: 0px;
  padding-bottom: 60%;
  
}

.notifikasi .page-footer{
  background: #F7f7f7;
  padding-top: 25px;
  padding-bottom: 25px
}
.notifikasi .prelogslide{
  position: relative;
  bottom:0px;
}
.notifikasi footer .container{
  width:100%;

}
.notifikasi footer .row{
  padding-left: 20px;
  background: #FFF;
}
.notifikasi .notif_title{
  margin-bottom: 0px;
  padding:15px 20px; 
  background-color:#F7f7f7;
}
.notifikasi .profile_picture{
  width:80px;
  height:80px;
  border-radius: 50% 50%;
  background-size:contain; 

}
.notifikasi .full_logout{
  color: #ED5A2F;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 1.2rem;
  font-family: 'LatoBold';
}
.notifikasi .ico{
  display: inline-flex;
  vertical-align: top;
  margin-right: 5px;
}
</style>
