<template>
  <div class="prelogincon">
    <div class="slideshow-container">

      <div class="mySlides fade">
        <div class="full">
          <h4 class="text-theme judul" >D-Money</h4>
          <br>
          <h4 class="caption">Transaksi tanpa uang tunai</h4>
        </div>
      </div>

      <div class="mySlides fade">
        <div class="full">
            <!-- <h4 class="text-theme"><b>D-Money</b></h4> -->
            <br>
            <h4 class="text-theme">Scan QR Code</h4>
            <h5>Pembayaran cepat dan mudah</h5>
        </div>
      </div>

    </div>
    <br>
    <div class="prelogslide">
      <div style="text-align:center;margin-bottom:20px">
        <span class="dot" @click="currentSlide(1)"></span> 
        <span class="dot" @click="currentSlide(2)"></span> 
      </div>

      <div v-if="slideNum !== totalSlide ">
         <a @click="nextSlide" class="btn grey full white-text" style="margin:0;">Berikutnya</a>
      </div>
      <div v-else>
         <a @click="start" class="btn theme full" style="margin:0;">Mulai Sekarang</a>
      </div>
     

     
     <!-- <router-link to="/home" class="btn grey full white-text" style="margin:0;">Berikutnya</router-link>-->
      <br>
      
      <br>

     
      <br>
    </div>
  </div>
</template>
<script>

export default {
  name: 'prelog',
  data: function(){
    return{
      slideNum:1,
      totalSlide:0
    }
  },
  mounted(){
      var self = this;
      var slideIndex = 1;
      self.totalSlide =  (document.getElementsByClassName("mySlides")).length;
      this.showSlides(slideIndex);
  },
  methods:{
    start() {
        var self = this;
        window.localStorage.removeItem("otp_header");
        function onProceed() {
            self.$router.push({ path:'/pin'});
            console.log("pin")
        };
        function onLogin() {
          console.log("login")
            self.$router.push({ path:'/login'});
        };
        function onError(e) {
            console.error(e);                
        }
        // console.log("start");
        //moffas.start(onProceed,onLogin,onError);

        onLogin()
    },
    nextSlide(){
      var self = this;
      let n = self.slideNum+1
      var slides = document.getElementsByClassName("mySlides");
      if(n < (slides.length+1) ){
        this.showSlides(n);
      }
      
    },
    currentSlide(n){
      var self = this;
      self.slideNum = n;
      this.showSlides(n);
    },
    showSlides(n) {
      var self = this;
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      var slideIndex = n;
      self.slideNum = n;
      if (n > slides.length) {slideIndex = 1} 
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none"; 
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" slide_active", "");
      }
      slides[slideIndex-1].style.display = "block"; 
      dots[slideIndex-1].className += " slide_active";
    }
  },
}
</script>
<style>
  .judul{
    font-family:'CabinSemiBold';
    letter-spacing: 1pt;
  }
  .caption{
    color:#ED5A2F;
  }
  .grey{
     color:#ED5A2F!important;
  }

</style>