<template>
<div class="qrcontainer">
<img src="img/guide.png">
</div>

</template>
<script>
    export default {
        name: 'qr_scan',
        data: function(){
            return{
            }
        },
        created(){
            console.log("i am created")
            this.mounted()
        },
        mounted(){
            console.log("qr scan");

            var self = this;


            window.QRScanner.prepare(onDone); // show the prompt

            function onDone(err, status){
              if (err) {
               // here we can handle errors and clean up any loose ends.
               console.error(err);
               alert(err)
              }
              if (status.authorized) {
                    
                     window.QRScanner.show(function(status){
                        window.QRScanner.scan(displayContents);
                        console.log(status);
                    });
              } else if (status.denied) {
               // The video preview will remain black, and scanning is disabled. We can
               // try to ask the user to change their mind, but we'll have to send them
               // to their device settings with `window.QRScanner.openSettings()`.
              } else {
                // we didn't get permission, but we didn't get permanently denied. (On
                // Android, a denial isn't permanent unless the user checks the "Don't
                // ask again" box.) We can ask again at the next relevant opportunity.
              }
            }

           // alert("start");
           
            function displayContents(err, text){
                window.QRScanner.hide(function(status){
                    console.log(status);
                    /*
                    window.QRScanner.destroy(function(status){
                        console.log(status);
                    });
                    */
                    if(err){
                        alert("scan failed");
                        // an error occurred, or the scan was canceled (error code `6`)
                        console.log(err);
                        self.$router.push({ path:'/home'});
                    } else {
                        //window.localStorage.setItem("moffas.scanned_qr",text);

                        //SEMENTARA PUSH KE PAGE INI 
                        self.$router.push({ path:'/staticTransaction/'+text});
                         
                        function onError(e) {
                            alert("ERROR : "+e.message);
                            self.$router.push({ path:'/home'});
                        }

                        function onSuccess(d) {
                            console.log(d);
                            var dd = JSON.parse(d);
                            var n = dd["amount"];
                            if (n) {
                                console.log("go to cpayment");
                                self.$router.push('/cpayment/'+d);
                            }
                            else {
                                console.log("go to payamount");
                                self.$router.push('/payamount/'+d);
                            }            
                        }
                        // moffas.do_request("validateQR",text,onSuccess,onError);
                    }
                });            

            }
        },
        methods:{
        },
    }
</script>
