<template>
</template>
<script>
export default {
  name: 'redir',
  data: function(){
    return{
    }
  },
  mounted(){
    var self = this;
    var next = window.localStorage.getItem("moffas.redir");
    if (!next) {
        self.$router.push({ path:'/prelog'});
    }
    else {
        window.localStorage.removeItem("moffas.redir");
        self.$router.push({ path:next});        
    }
  },
  methods:{
  },
}
</script>
