<template>
  <div>
      <div style="padding:20px;">
        <label style="text-align:left; font-size" class="title_panel"> <h4 style="text-align:left; display:block;" class="title_panel">Lengkapi data diri</h4></label>
        <label style="float:left">No. Ponsel</label>
        <div class="input-field">
          <input type="text" v-model="payload.No_Ponsel" placeholder="No. Ponsel" Disabled/>
        </div>
          <label style="float:left">Nama Lengkap</label>
        <div class="input-field">
          <input type="text" v-model="payload.Nama_Lengkap" placeholder="Nama Lengkap"/>
        </div>
        <br>
        <div style="float:left; width:100%; margin-bottom:20px;font-size:1.5em;font-weight:bold">
          <input class="with-gap" value="p" v-model="payload.Jenis_Kelamin" name="gender" type="radio" id="malebtn" />
          <label for="malebtn" style="margin-right:30px;">Pria</label>
          <input class="with-gap" value="w" v-model="payload.Jenis_Kelamin" name="gender" type="radio" id="fbtn" />
          <label for="fbtn">Wanita</label>
        </div>
         <br>
        <label style="float:left; width:100%">Pertanyaan Keamanan</label>
        <div>
          <select class="browser-default" v-model="payload.Pertanyaan">
              <option v-for="qs in question" :value="qs.q">{{qs.q}}</option>
            </select>
        </div>
        <br>
          <label style="float:left">Jawaban</label>
          <div class="input-field">
             <input type="text" v-model="payload.Jawaban" placeholder="Jawaban"/>
          </div>
        
         <label style="float:left">Buat PIN (6 angka)</label>
          <div class="input-field">
            <input style="max-width:90%; float:left;" :type="pintype" inputmode="numeric" id="pin" v-model="payload.PIN" placeholder="PIN" data-length="6" maxlength="6"/>
            <i style="float:right;" class="material-icons" @click="cptype">remove_red_eye</i>
          </div>
          <br/>
          <p style="float:left;text-align:left">Dengan mengklik tombol Berikutnya, saya menyetujui <a href="javascript:;">Syarat dan Ketentuan</a></p>
          <br>
      </div>
      <br />
      <div style="padding:10px 20px 20px 20px;">
        <button class="btn theme full" style="margin:0;margin-bottom:25px;" @click="next">Berikutnya</button>
        
      </div>

  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        No_Ponsel:this.phone,
        Nama_Lengkap:'',
        Jenis_Kelamin:'',
        Pertanyaan:'',
        Jawaban:'',
        PIN:'',
        phone:'',
        register: true,
      },
      question:[
          {
            q:'Apa nama peliharaan anda'
          },
          {
            q:'Siapa nama ayah anda'
          }
        ],
      pintype:'password',
    }
  },
  props:['phone'],
  mounted(){
    this.payload.phone = this.phone;
    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      // console.log("test");
    });
  },
  methods:{
    next(){
      var self = this;
      var valid=true;
      var notvalid='';
      for(var p in this.payload){
        if(this.payload[p]==''){
          valid=false;
          notvalid+=p.replace('_',' ')+'\n';
        }
      }

      if(!valid){
        alert(notvalid+'tidak boleh kosong');
      }else{

        function dummySuccess(){
          let py = self.payload 
          window.localStorage.setItem("PIN",py.PIN);
           self.$router.push('/cregis/'+JSON.stringify(self.payload));          
        }

        function onProceed(regpload) {
            console.log(regpload);
            window.localStorage.setItem("otp_header",regpload.otp_header);
            for (var k in regpload){
                if (k != "response") {
                    self.payload[k] = regpload[k];
                }
            }
            console.log(self.payload);
            self.$router.push('/cregis/'+JSON.stringify(self.payload));            
        }
        function onDenied(){
            alert("nomor sudah terfdaftar");
            self.$router.push('/login');            
        }
        function onError(e){
            alert("error : "+e.message);
        }
        
        console.log("registering");
        console.log(self.payload);
        console.log(self.phone);
        //moffas.regis_start(moffas.config.bin+self.payload.phone,onProceed,onDenied,onError);  
        dummySuccess();  
      }
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style>
  
  input[type="text"]{
    font-weight: bold!important;
    font-size:1.5em!important;
  }
  .with-gap{
    background-color: red;
  }
  label{
    font-weight: bold!important;
    font-size:1rem!important;
  }
</style>