<template>
  <!-- <transition name="fade"> -->
    <div class="splash">
      <h1>DONAT</h1>
        <!-- <img src="dist/img/logo.png" class="splash-logo"> -->
    </div>
  <!-- </transition> -->
</template>
<script>

export default {
  name: 'splash',
  data: function () {
    return {
      uwow: 'test'
    }
  },
  mounted: function () {
    // this.uwow = 'ready'
    // let ini = this
    setTimeout(function () {
      // ini.$router.replace('/home')
    $('.splash').fadeOut( "fast", function() {
      // Animation complete.
    });
    // $('.splash').css("display","none");
    }, 3000)
  }
}
</script>
