<template>

  <div class="ctransfer">
         <div class="row">
           
            <div id="test1" class="col s12">
              <div style="padding:25px; background-color:rgb(247,247,247);">
                <div class="row" style="margin-bottom:0px;">
                  <div class="col s1" >
                       <i class="ic material-icons" >store</i>
                  </div>
                  <div class="col s11" >
                    <div style="padding-left:20px;">
                      <span style="font-size:1.3rem;"><b>Bebek Goreng Sinjai</b></span>
                    </div>
                  </div>
                </div>
              </div>
               <div style="background-color:#FFF;">
                  <div style="padding:20px;padding-bottom:1px ">
                      <div class="row">
                          <div class="col s12" >

                            <div style="font-size:1rem ">Nominal</div>

                          </div>
                          <div class="col s12" >
                            <div style="font-size:1.3rem ">
                              Rp. <b>75.000</b>
                            </div>
                          </div>
                          <div class="col s12" style="border-top:1px solid #CCC;">

                            <div style="font-size:1rem ">Saldo Anda: <b>Rp. 320.000,00</b></div>

                          </div>
                    </div>
                  </div>
                </div>
                   
            </div>
           
          </div>
           <footer class="page-footer">
           <div class="container">
              <div class="row">
                    <div class="col s12">
                      <div class="prelogslide">
                        <a @click="next" class="btn theme full" style="margin:0;">Proses</a>
                        <br>
                        <br>
                        <router-link to="/home" class="btn grey full white-text" style="margin:0;">Batal</router-link>
                      </div>
                  </div>
              </div>   
           </div>
        </footer>
  </div>

</template>
<script>

export default {
  name: 'static transaction',
  data: function(){
    return{
     
    }
  },
  mounted(){
   // window.$('.tabs').tabs();
  },
  props:["code"],
  methods:{
    next(){
      var self = this;
      function onUnauth() {
           self.$router.push({ path:'/pinTransfer'})
        }
        onUnauth();     
      }
    }
}
</script>
<style>
body{
  background-color:rgb(247,247,247);
}
.active{
  background-color:transparent !important;
}
.collapsible-header {
    position: relative !important;
}

.collapsible-header i.material-icons {
    position: absolute !important;
    right: 0 !important;
}
.collapsible li.active > i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}

.collapsible .collapsible {
  margin: 0!important;;
}

.collapsible li#atmdanamon.active  i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}
.content{
  padding:0px 15px;
}
.order{
  padding: 1rem;
}
.order li{
    margin-bottom:1rem;
}
  .row .col{
    padding:0px !important;
  }
.indicator{
  background-color: #ED5A2F !important;
}
#test1{
  background-color:rgb(247,247,247) !important;
}
 .ctransfer .prelogslide{
  position:  relative;
}
.ctransfer .page-footer{
  background-color:rgb(247,247,247);
  padding-top:25px;
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .page-footer{
      position: absolute;
      width: 100%;
      bottom: 0px;
    }
}
</style>
