<template>
  <div class="prelogincon">
    <div class="panel_transfer_bank">
          <div class="trans_img"><img src="img/icon_transfer.png" /></div>
          <h5 class="caption">TRANSAKSI BERHASIL</h5>
          <div class="client">Dana sebesar Rp. {{Nominal}} telah terkirim ke </div>
          <div class="phone_no">{{Bank_Name}} ( {{Nomor_Rekening}} )</div>
          <div class="atas_nama">atas nama <span class="phone_no">{{Recipient_Name}}</span></div>
    </div>
    <br>
   
      <div class="prelogslide">
        <a @click="next" class="btn theme full" style="margin:0;">Lihat Transaksi</a>
      </div>
       <div class="prelogslide" style="margin-top:0px;">
        <a @click="home" class="btn orange full white-text" style="margin:0;">Kembali ke Dashboard</a>
      </div>

  </div>
</template>
<script>

export default {
  name: 'prelog',
  data: function(){
    return{
      Buyer_Name:'Sekar Dirgantari',
      Nomor_Rekening:'0815878123',
      Recipient_Name:'Adinda Ayu',
      Bank_Name:'Bank Mandiri',
      Nominal: '75000'
    }
  },
  mounted(){
  },
  methods:{
    home(){
          var self = this;
         self.$router.push({ path:'/home'});
    },
    login() {
        var self = this;
        function onSuccessDummy() {
            self.$router.push({ path:'/'});
        };

        window.localStorage.removeItem("otp_header");
        function onProceed() {
            self.$router.push({ path:'/pin'});
            console.log("pin")
        };
        function onLogin() {
          console.log("login")
            self.$router.push({ path:'/login'});
        };
        function onError(e) {
            console.error(e);                
        }
        // console.log("start");
        //moffas.start(onProceed,onLogin,onError);
        onSuccessDummy()
    },
  },
}
</script>
<style scope>
  body{
     background-color: #f7f7f7;
  }
  .prelogincon{
     background-color: #f7f7f7;
  }
  .panel_transfer_bank{
    background-color: #f7f7f7;
    height: 100%;
    padding: 25px;
  }
  .caption{
     font-family:'CabinSemiBold';
    letter-spacing: 1pt;
    font-size: 1.5rem;
  }
  .grey{
     color:#ED5A2F!important;
  }
  .daftar{

  }
  input[type="text"]  ,input[type="password"]{
    font-weight: bold!important;
    font-size:1rem!important;
  }
  label{
   font-size: 1rem!important;
  }
 .prelogslide{
  position: relative;
  margin-top:30px;
  font-weight: bold;
  bottom:15px;
}
.client{
  font-size:1.1rem;
  margin-top:20px;
}
.atas_nama{
  font-size:1.1rem;
 }
.phone_no{
  font-size:1.1rem;
  font-weight: bold;
}
.nominal{
  font-size:1.1rem;
  color:#ED5A2F;
  font-weight:bold;
  margin-top:30px;
  margin-bottom:15px;
}
.orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}
.trans_img{
  margin-top:10px;
  margin-bottom:20px;
}
</style>