<template>

  <div class="transfer">
         <div class="row">
            <div class="col s12">
              <ul class="tabs" >
                <li class="tab col s3"><a class="active" href="#test1" style="font-size:1em;"><b>KE AKUN D-MONEY</b></a></li>
                <li class="tab col s3"><a  href="#test2" style="font-size:1em;"><b>KE AKUN BANK</b></a></li>
              </ul>
            </div>
            <div id="test1" class="col s12">
               <div style="background-color:rgb(247,247,247);">
                  <div style="padding:25px; ">
                    <label style="float:left">No Ponsel Penerima</label>
                      <div class="input-field">
                        <input type="tel" placeholder="Phone Number" id="login_phonenumber">
                      </div>

                    <label style="float:left">Nominal</label>
                      <div class="input-field" style="margin-bottom:25px;">
                        <input type="tel" placeholder="Nominal" id="login_phonenumber">
                      </div>  
                    <label style="float:left; color:#000; font-size:10pt;">Saldo Anda: <b>Rp. 320.000,00</b></label>
                      <div class="input-field" style="margin-top:25px;">
                        <input type="text" placeholder="Berita" id="login_phonenumber">
                      </div>  
                  </div>
                </div>
                

                  <footer class="page-footer">
                     <div class="container">
                        <div class="row">
                              <div class="col s12">
                                <div class="prelogslide">
                                  <a @click = "next" class="btn theme full" style="margin:0;">Lanjut</a>
                                </div>
                            </div>
                        </div>   
                     </div>
                  </footer>

            </div>
            <div id="test2" class="col s12">
               <div style="background-color:rgb(247,247,247);">
                  <div style="padding:25px; ">
                    <label style="float:left; width:100%">Pilih Bank</label>
                      <div>
                         <select class="browser-default" v-model="Bank">
                          <option v-for="qs in banks" :value="qs.name">{{qs.name}}</option>
                        </select>
                      </div>
                      <br>
                    <label style="float:left">Nominal</label>
                      <div class="input-field" style="margin-bottom:25px;">
                        <input type="tel" placeholder="Nominal" >
                      </div>  
                    <label style="float:left; color:#000; font-size:10pt;">Saldo Anda: <b>Rp. 320.000,00</b></label>
                      <div class="input-field" style="margin-top:25px;">
                        <input type="tel" placeholder="No. Referensi (opsional)" >
                      </div>  
                  </div>
                </div>
                

                  <footer class="page-footer">
                     <div class="container">
                        <div class="row">
                              <div class="col s12">
                                <div class="prelogslide">
                                  <a @click = "next2" class="btn theme full" style="margin:0;">Lanjut</a>
                                </div>
                            </div>
                        </div>   
                     </div>
                  </footer>
                  
            </div>
          </div>
       
  </div>

</template>
<script>

export default {
  name: 'topup',
  data: function(){
    return{
       Bank:'',
       banks:[
          {
            name:'Bank Mandiri'
          },
          {
            name:'Bank BCA'
          }
        ],
    }
  },
  mounted(){
    window.$('.tabs').tabs();
  },
  methods:{
    next(){
      var self = this;
      function onUnauth() {
           self.$router.push({ path:'/ctransfer'})
        }
        onUnauth();     
      },
      next2(){
      var self = this;
      function onUnauth() {
           self.$router.push({ path:'/ctransferbank'})
        }
        onUnauth();     
      }
    }
}
</script>
<style>
body{
  background-color:rgb(247,247,247);
}
.active{
  background-color:transparent !important;
}
.collapsible-header {
    position: relative !important;
}

.collapsible-header i.material-icons {
    position: absolute !important;
    right: 0 !important;
}
.collapsible li.active > i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}

.collapsible .collapsible {
  margin: 0!important;;
}

.collapsible li#atmdanamon.active  i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}
.content{
  padding:0px 15px;
}
.order{
  padding: 1rem;
}
.order li{
    margin-bottom:1rem;
}
.row .col{
  padding:0px !important;
}
.indicator{
  background-color: #ED5A2F !important;
}
#test1{
   background-color:rgb(247,247,247);
}
 .transfer .prelogslide{
  position:  relative;
}
.transfer .page-footer{
  background-color:rgb(247,247,247);
  padding-top:25px;
}
</style>
