<template>
  <div class="apps">
    <h1>About page</h1>
    <h2>Visit <a href="http://www.laesporadelhongo.com/" target="_blank">Author's blog</a></h2>
    <div id="deviceready" class="blink">
      <p class="event listening">Connecting to Device</p>
      <p class="event received">Device is Ready</p>
    </div>
    <h2> <router-link to="/home">Go back</router-link></h2>

    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
export default {
  name: 'about'
}
</script>
<style>
.active{
  background-color:transparent !important;
}

</style>
