<template>
  <div class="logincon">
    <div style="text-align:center">
      <div style="padding:20px;">
          <div>
            <!-- <img class="logo-img" src="dist/img/logo.png" alt=""> -->
          </div>
          <h4 style="text-align:left; display:block;" class="title_panel">Masukkan nominal transaksi</h4>
          <label style="float:left">Nominal transaksi</label>
          <div class="input-field">
            <span class="rp prefix">Rp</span>
            <input type="tel" v-model="nominal" placeholder="Nominal transaksi" id="nominal">
          </div>
      </div>
      <div class="prelogslide">
        <a @click="next" class="btn theme full" style="margin:0;">Berikutnya</a>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      nominal:'',
    }
  },
  mounted(){
  },
  methods:{
    next(){
      if(this.nominal==""){
        alert("nominal harus diisi");
      }else{
        var self = this;

        function onUnauth() {  //temporary use this
              self.$emit('show-modal');
              setTimeout(
                  () => {
                    self.$emit('close-modal');
                    self.$router.push({ path:'/qrtrans/'+self.nominal})
                  },
                  500
                );
             
        }

        function onProceed(ss) {
            console.log(ss);
            window.localStorage.setItem("otp_header",ss.otp_header);
            self.$router.push({ path:'/qrtrans/'+self.nominal})
        }
        
        function onDenied() {
            console.log("Denied");
        }
        function onError(e) {
            console.log(e);
        }
        console.log(moffas.config.bin+this.phone);
        // moffas.login_start(moffas.config.bin+self.phone,onProceed,onUnauth,onDenied,onError);  
        onUnauth();     
      }
    }
  },
}
</script>
<style scoped>
 body{
    background-color: #f7f7f7;
  }
  #nominal{
    font-weight: bold;
    font-size:2rem;
  }
label{
font-size: 1.2rem!important;
}
.rp{
      bottom: 15px!important;
      font-size: 2rem!important;
}

</style>
