<template>
  <div class="prelogincon">
    <div class="full">
          <h5 class="caption">TERIMA KASIH</h5>
          <div>Petugas kami akan segera menghubungi Anda</div>
        </div>
    <br>
   
      <div class="" style="padding:25px;margin-top:100px;">
         <a @click="login" class="btn theme full" style="margin:0;">Log in</a>
      </div>

     
     
     

     
     <!-- <router-link to="/home" class="btn grey full white-text" style="margin:0;">Berikutnya</router-link>-->
      <br>
      
      <br>

     
      <br>
    </div>
  </div>
</template>
<script>

export default {
  name: 'prelog',
  data: function(){
    return{
      payload:{
        No_Ponsel:'',
        PIN:'',
        phone:'',
        register: false,
      },
      pintype:'password',
    }
  },
  mounted(){
  },
  methods:{
    login() {
        var self = this;
        function onSuccessDummy() {
            self.$router.push({ path:'/'});
        };

        window.localStorage.removeItem("otp_header");
        function onProceed() {
            self.$router.push({ path:'/pin'});
            console.log("pin")
        };
        function onLogin() {
          console.log("login")
            self.$router.push({ path:'/login'});
        };
        function onError(e) {
            console.error(e);                
        }
        // console.log("start");
        //moffas.start(onProceed,onLogin,onError);
        onSuccessDummy()
    },
    daftar(){
       var self = this;
      self.$router.push({ path:'/regisnumber'});
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style scope>
  body{
     background-color: #f7f7f7;
  }
  .prelogincon{
     background-color: #f7f7f7;
  }
  .full{
    background-color: #f7f7f7;
    height: 100%;
  }
  .caption{
     font-family:'CabinSemiBold';
    letter-spacing: 1pt;
  }
  .grey{
     color:#ED5A2F!important;
  }
  .daftar{

  }
  input[type="text"]  ,input[type="password"]{
    font-weight: bold!important;
    font-size:1rem!important;
  }
  label{
   font-size: 1rem!important;
  }
  #new{
     margin-top:25px;
     font-size: 1rem!important;
  }
  .daftar{
    text-decoration: underline;
    font-weight: bold;
  }
   #forget{
    margin:25px;
     font-size: 1rem!important;
     margin-bottom:20px;
  }
  #forget a{
     text-decoration: underline;
    font-weight: bold;
  }
</style>