<template>
<div>
<div class="row">
    <div class="col s12 m12 l12">
      <!-- <h6 align="left">Period Date :</h6> -->
      <span style="float:left;width:45%;color:#000000;"><input v-model="start" type="date" @change="getptm"></span>
      <span style="float:right;width:45%;color:#000000;"><input v-model="end" type="date" @change="getptm"></span>
      <div class="ftypelist">
        <div class="ftypeitems" v-bind:class="cekftype('NMC')" @click="getbyftype('NMC')">NMC</div>   
        <div class="ftypeitems" v-bind:class="cekftype('MP')" @click="getbyftype('MP')">MP</div>   
        <div class="ftypeitems" v-bind:class="cekftype('Syana')" @click="getbyftype('Syana')">Syana</div>   
      </div>
<!--       <ul class="tabs">
        <li class="tab col s4"><a @click="getbyftype('NMC')">NMC</a></li>
        <li class="tab col s4"><a @click="getbyftype('MP')">MP</a></li>
        <li class="tab col s4"><a @click="getbyftype('Syana')">SYANA</a></li>
      </ul> -->
    </div>
    <div v-if="msg!=''" class="col s12">
      <div class="card-panel red">
        <span class="white-text">{{msg}}</span>
      </div>
    </div>
    <div id="test1" class="col s12 m12 l12">
      <div style="margin:0; margin-top:10px; padding:0;" class="col s12">
        <div style="margin:0; padding:0; text-align:left; font-size:12px;" class="col s3">BUCKET PTM</div>
        <div style="margin:0; padding:0; text-align:left;" class="col s9"><hr></div>
      </div>
      <div style="max-width:100%; align-items:center;text-align:center">
        <div style="width:37%;" class="hbt">
          <router-link :to="'/daftar/nostatus/'+start+'/'+end+'/'+ftype" id="button-new" class="btn indigo darken-4 waves-effect waves-light">{{nostatus}} No Status</router-link>
        </div>
        
        <div style="width:57%;" class="hbt">
          <router-link :to="'/daftar/totalptm/'+start+'/'+end+'/'+ftype" id="button-total" class="btn grey waves-effect waves-light">{{totalptm}} TOTAL PTM</router-link>
        </div>
      </div>

      <div style="max-width:100%;align-items:center;text-align:center">
        <div class="hb"><router-link :to="'/daftar/pending/'+start+'/'+end+'/'+ftype" class="btn orange darken-2 accent-2 waves-effect waves-light">{{pending}}</router-link></div>
        <div class="hb"><router-link :to="'/daftar/cancel/'+start+'/'+end+'/'+ftype" class="btn red darken-2 waves-effect waves-light">{{cancel}}</router-link></div>
        <div class="hb"><router-link :to="'/daftar/apply/'+start+'/'+end+'/'+ftype" class="btn green darken-2 waves-effect waves-light">{{apply}}</router-link></div>
        <div class="hb"><router-link :to="'/daftar/reschedule/'+start+'/'+end+'/'+ftype" class="btn brown darken-2 waves-effect waves-light">{{reschedule}}</router-link></div>
      </div>      

      <div class="col s12">
        <center><div class="col s3">Pending</div></center>
        <center><div class="col s3">Cancel</div></center>
        <center><div class="col s3">Apply</div></center>
        <center><div class="col s3">Reschedule</div></center>
      </div>

      <div class="col s12">
         <span style="float:left;width:45%;color:#000000;">
          <select @change="getptm" class="browser-default z-depth-1" v-model="sort">
            <option value="ptmdate">PTM Date</option>
            <option value="calldate">Call Date</option>
          </select>
         </span>
         <span style="float:right;width:45%;color:#000000;">
          <select @change="getptm" class="browser-default z-depth-1" v-model="sortby">
            <option value="asc">Asc</option>
            <option value="desc">Desc</option>
          </select>
        </span>
      </div>
      
      <div style="margin:0;margin-top:10px; padding:0;" class="col s12">
        <div style="margin:0; text-align:left; font-size:12px;" class="col s3"><b>List CMO</b></div>
        <div style="margin:0; padding:0; text-align:left;" class="col s9"><hr></div>
      </div>

      <!-- <div v-for="np in newptm"> -->
        <div style="padding : 5px;">
          <div id="ptm-list" class="col s12 m12 l12">
            <div id="midcard" class="col s12 m12 l12">
              <p>CMO Name</p>
              <div>
                <span class="btn orange darken-2 accent-2 waves-effect waves-light" style="width:23%;padding:5px;">Pending</span> <span class="btn red darken-2 waves-effect waves-light" style="width:23%;padding:5px;">Cancel</span> <span class="btn green darken-2 waves-effect waves-light" style="width:23%;padding:5px;">Apply</span> <span class="btn brown darken-2 waves-effect waves-light" style="width:23%;padding:5px;">Reschedule</span>           
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->

      <div style="margin:0;margin-top:10px; padding:0;" class="col s12">
        <div style="margin:0; text-align:left; font-size:12px;" class="col s3"><b>NEW PTM</b></div>
        <div style="margin:0; padding:0; text-align:left;" class="col s9"><hr></div>
      </div>

      <div v-for="np in newptm">
        <div style="padding : 5px;">
          <div id="ptm-list" class="col s12 m12 l12">
            <div id="midcard" class="col s10 m10 l10">
              <p>PTM Date : {{np.ptmdate}}
              <br>Name : {{np.name}}
              <br>Mobile : {{np.phone}}</p>
            </div>
            <div id="prosta" class="col s2 m2 l2">
              <router-link :to="'/detail/'+np.potentialid" class="waves-effect waves-light btn btn2">PROCESS</router-link>
              <router-link :to="'/detail/'+np.potentialid" class="waves-effect waves-light btn btn2" v-bind:class="cekcolor(np.status)" >{{cekstatus(np.status)}}</router-link>
            </div>
          </div>
        </div>
      </div>

      <div style="margin:0;margin-top:10px; padding:0;" class="col s12">
        <div style="margin:0; text-align:left; font-size:12px;" class="col s4"><b>PENDING PTM</b></div>
        <div style="margin:0; padding:0; text-align:left;" class="col s8"><hr></div>
      </div>

      <div v-for="dp in dtpending">
        <div style="padding : 5px;">
          <div id="ptm-list" class="col s12 m12 l12">
<!--             <div id="gbr" class="col s2 m2 l2">
              <img id="gambar" src="dist/assets/profile.png">
            </div> -->
            <div id="midcard" class="col s10 m10 l10">
              <p>PTM Date : {{dp.ptmdate}}
              <br>Name : {{dp.name}}
              <br>Mobile : {{dp.phone}}</p>
            </div>
            <div id="prosta" class="col s2 m2 l2">
              <router-link :to="'/detail/'+dp.potentialid" class="waves-effect waves-light btn btn2">PROCESS</router-link>
              <router-link :to="'/detail/'+dp.potentialid" class="waves-effect waves-light btn btn2" v-bind:class="cekcolor(dp.status)" >{{cekstatus(dp.status)}}</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  	</div> -->
</div>
</template>
<script>

export default {
  name: 'home',
  data () {
    return {
      start:new Date().toJSON().slice(0,8)+'01',
      end:new Date().toJSON().slice(0,10),
      mons:new Date().toJSON().slice(0,8)+'01',
      now:new Date().toJSON().slice(0,10),
      ftype:'NMC',
      totalptm:0,
      nostatus:0,
      pending:0,
      sort:'ptmdate',
      sortby:'asc',
      reschedule:0,
      cancel:0,
      apply:0,
      msg:'pengumuman hari ini tidak ada pengumuman',
      newptm:[],
      dtpending:[]
    }
  },
  computed:{
  },
  methods:{
    cekftype(ft){
      if(ft==this.ftype) return "theme anim";
    },
    cekcolor(st){
      if(st=='')st='indigo darken-4';
      else if(st=='Apply')st='green darken-2';
      else if(st=='Pending')st='orange darken-2';
      else if(st=='Reschedule')st='brown darken-2';
      else if(st=='Cancel')st='red darken-2';
      return st;
    },
    cekstatus(st){
      if(st=='')st="NoStatus";
      return st;
    },
    getptm(){
        var optionsspinner = { dimBackground: true };
        SpinnerPlugin.activityStart("Mengambil Data...", optionsspinner);

        var self = this;
        var payload = {
          start:this.start,
          end:this.end,
          sort:this.sort,
          sortby:this.sortby,
          ftype:this.ftype,
        };

        function onSuccess(res){
          console.log("getptm sukses!");
          SpinnerPlugin.activityStop();
          console.log(res);
          if(res.totalptm!=null)self.totalptm=res.totalptm; else self.totalptm=0;
          if(res.totalnostatus!=null)self.nostatus=res.totalnostatus; else self.nostatus=0;
          if(res.totalpending!=null)self.pending=res.totalpending; else self.pending=0;
          if(res.totalcancel!=null)self.cancel=res.totalcancel; else self.cancel=0;
          if(res.totalreschedule!=null)self.reschedule=res.totalreschedule; else self.reschedule=0; 
          self.newptm=res.newptm;
          self.dtpending=res.pendingptm;
        }
        
        function onError(error){
          console.log(error);
          SpinnerPlugin.activityStop();
          function alertDismissed() {
          }
          console.log(error);
          navigator.notification.alert(
            'Terjadi error : '+error,  // message
            alertDismissed,         // callback
            'Moffas',            // title
            'OK'                  // buttonName
          );
        }
        moffas_do("getptm",payload,onSuccess,onError);
    },
    getbyftype(ft){
      console.log(ft);
      this.ftype=ft;
      this.msg='';
      this.getptm();
    },
  },
  mounted(){
    var self = this;  
      // $('ul.tabs').tabs();
      // jQuery("select").material_select();

      // jQuery('#postCategory').material_select();
      document.addEventListener("deviceready", onDeviceReady, false);

        function onDeviceReady() {

              window.FirebasePlugin.onNotificationOpen(
              function(notf) {
                console.log(notf);
                if (notf.title != null) {
                  navigator.notification.alert(
                    notf.body,  // message
                    alertDismissed,         // callback
                    notf.title,            // title
                    'OK'                  // buttonName
                  );
                }
              }, 
              function(error) {
                console.error(error);
              }
            );
        }
  },
}
</script>

<style type="text/css" scoped>
  #button-new{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #button-total{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .button-status{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .btn{
    margin: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
  }
  .btn2{
    font-size: 9px;
  }
  #prosta{
    margin: auto;
    padding: 0;
    text-align: center;
    font-size: 9px;
  }
  #midcard{
    
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
  }
  #gbr{
    margin: auto;
    margin: 0;
    padding: 0;
  }
  #gambar{
    margin: auto;
    width: 100%;
  }
  .atas{
    margin-top: 8px;
    margin-left: 2px;
    margin-right: 3px;
  }
  .hbt{
    display: inline-block;
    margin: 2px;
  }
  .hb{
    width: 22%;
    display: inline-block;
    margin: 2px;
  }
  .mentok{
    padding: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .abuabu{
    color: #aaa;
  }
  
</style>
