<template>
<div>
  <div class="row">
    
    <div v-if="msg!=''" class=" datatoko col s12">
      <div class="panel theme" >
        <p class="namamember">{{Merchant_Name}}</p>
        <p class="nomember">{{Tanggal}}</p>
        <br>
        <p class="saldo_text">Total Transaksi Hari ini</p>
        <p class="saldo" style="font-size: 20px;">Rp. {{saldo}}</p>
      </div>
    </div>

    <div v-if="msg!=''" class="col s12" @click="add_transaksi">
      <div class="panel theme" style="padding:10px;">
        <p class="plustransaksi">+</p>
        <p class="transaksi_title">TRANSAKSI</p>
      
      </div>
    </div>
    <br>
    <div class="col s12 m12 l12">
<!--<router-link to="/home">Go back</router-link>
      <a class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme  material-icons">account_balance_wallet</i><br><span>Top Up</span></a>
-->   <div class="row">
          <div class="col s6 m6 l6"> <router-link to="/transHistory" class="waves-effect waves-light menubtn z-depth-1">
      <i class="ic text-theme  material-icons">description</i><br><span>Histori Transaksi</span></router-link></div>
          <div class="col s6 m6 l6">  <router-link to="/transfer" class="waves-effect waves-light menubtn z-depth-1"><i class="ic text-theme material-icons">settings</i><br><span>Pengaturan</span></router-link></div>
      </div>
    </div>
  </div>
  <my-preloader ref="preload"></my-preloader>
</div>
</template>
<script>

export default {
  name: 'home',
  data () {
    return {
      Merchant_Name:'Toko Maju Mundur',
      Tanggal: '',
      memberno:'1203001125',
      saldo:'0,00',
      msg:'pengumuman hari ini tidak ada pengumuman',
    }
  },
  computed:{
  },
  methods:{
    openqr(){
    var self = this;
        console.log("going to scan");
        //window.localStorage.setItem("moffas.redir","/home");
        //window.location="/scan.html"
        //window.localStorage.setItem("moffas.redir","/home");
        self.$router.push({ path:'/qr_scan'});
   },
    getdate(){
      var d = new Date();
      var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
      var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
      var date = days[d.getDay()] +"  "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
      return date
     },
   add_transaksi(){
    var self = this;
    self.$router.push({ path:'/addtrans'})
   }
  },
  mounted(){
    var self = this;  
    window.localStorage.removeItem("moffas.redir");
    console.log(self.getdate())
    self.Tanggal = self.getdate()
    /*
    QRScanner.cancelScan(function(status){
      console.log(status);
    });
    */
    function onError(e) {
        alert("ERROR : "+e.message);
    }
    
    function onSuccess(d) {
        console.log(d);
        var dd = JSON.parse(d);
        var n = dd["balance"];
        self.saldo = n.toString();
        self.user = dd["name"];
        self.memberno = dd["username"];
        console.log(self.saldo);
    }
    var pload = "";
    // moffas.do_request("getBalance",pload,onSuccess,onError);
  }
}
</script>
<style scoped>
  body{
     background-color: #FFF;
  }
  .menuitem{
    font-family: 'CabinSemiBold'!important;
  }
  i{
    margin-bottom: 10px!important;
  }
  .nomember{
     font-family: 'CabinRegular'!important;
     font-size:1rem!important;
     letter-spacing: 0.3rem;
  }
  .namamember{
     font-family: 'CabinSemiBold'!important;
     font-size:1rem!important;
     text-transform: uppercase;
     letter-spacing: 0.1rem;
  }
  .saldo_text{
    font-size:1.2rem;
  }
   .saldo{
    font-size:1.4rem!important;
    font-weight: bold;
  }
  .datatoko >.panel.theme{
    background-color: #FFF!important;
    color:#000!important;
  }
  .datatoko{
    color:#000;
  }
  .plustransaksi{
    text-align: center;
    font-size:25pt;
  }
  .transaksi_title{
      font-family: 'CabinSemiBold'!important;
      font-size:10pt;
      text-align: center;
      margin-bottom:15px;
  }
 .menubtn{
    width: 100%; 
    margin:0px;
}
</style>