<template>
  <div style="text-align:left">
      <div style="padding:25px;">
        <label style="text-align:left"><h4>Anda akan melakukan pembayaran ke</h4></label>
        <label style="text-align:left"><h4>Merchant</h4></label>
        <label style="text-align:left"><h4>Nominal</h4></label>
        <label style="text-align:left"><p>Saldo anda </p></label>
        <h4><b>Metode Pembayaran</b></h4>
        
      </div>
      <div>
        <router-link to="/login2" class="btn theme full" style="margin:0;">Proses</router-link>
        <br>
        <br>
        <router-link to="/login2" class="btn grey full white-text" style="margin:0;">Batal</router-link>
      </div>
  </div>
</template>
<script>

export default {
  data: function(){
    return{
      payload:{},
    }
  },
  props:['pload'],
  mounted(){
  },
  methods:{
  },
}
</script>
