<template>
   <div id="modal1" class="modal">
    <div class="modal-content" style="overflow-y: hidden !important;height:max-content;">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
        </div>
        <div style="margin-top:10px;font-size:1.3rem">Loading</div>
    </div>
    
  </div>
</template>
<script>

export default {
  name: 'preloader',
  data: function(){
    return{
      pin:''
    }
  },
  mounted(){
     window.$('.modal').modal({opacity:0.5,dismissible:false,outDuration:500});
     console.log("modal mounted")
  },
  methods:{
    
    close(){
        window.$('.modal').modal('close');
    },
    show(){
        window.$('.modal').modal('open');
    },
    loginfin() {
    var self = this;
        var payload = {};


        function dummySuccess(){
          var mypin = window.localStorage.getItem("PIN");
          if(mypin === self.pin){
            window.localStorage.setItem("logged","1"); //gak secure, lebih baik hilangkan
            self.$router.push('/clogin'); 
          }else{
             alert("wrong pin,try again");
          }
          
        }

        function onSuccess(pload) {
            self.$router.push('/home');            

        };
        function onWrongPassword() {
            alert("wrong pin,try again");
        };
        function onError() {
            self.$router.push('/login');            
        };
        /*
        var iiotp = window.localStorage.getItem("otp_header");
        if (!iiotp) {
            iiotp = "";
            moffas.fin(iiotp,self.pin,payload,onSuccess,onWrongPassword,onError);
        }
        else {
            var payload = {
                "otp_header" : window.localStorage.getItem("otp_header"),
                "inpin" : self.pin,
            }
            self.$router.push('/cregis/'+JSON.stringify(payload));            
        }
        */
        dummySuccess();
    },
    lupapin(){
      self.$router.push('/lupapin'); 
    }
  },
}
</script>
<style>
.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
}
#modal1 {
  transform: translateY(100%) !important;
}
 #preloader-overlay {
        content: '';
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        z-index: 20000;
    }
   .preloader-wrapper{
         margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    #modal1 > .modal-content{
      text-align: center!important;
    }
</style>