<template>

  <div class="refund-confirm">
         <div class="row" style="position:relative;height:100%;border:none;padding-bottom:20%;margin-bottom:0px;">
           
            <div id="test1" class="col s12"  style="border:none;">
               <div style="text-align:left;">

                  <div class="customer_data">
                    <div class="row"  style="margin-bottom:0px;">
                        <div class="col s5" >
                          Customer
                        </div>
                        <div class="cust_data col s7" >
                          Heru Wibowo
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div  class="col s5" >
                          No. Handphone
                        </div>
                        <div class="cust_data col s7"  >
                          08xxxxx272
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Tanggal
                        </div>
                        <div class="cust_data col s7" >
                          31 Mei 2018
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Waktu
                        </div>
                        <div class="cust_data col s7" >
                          10:45
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Nominal
                        </div>
                        <div class="cust_data col s7" >
                          Rp. 100.000,00
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Nominal Refund
                        </div>
                        <div class="cust_data col s7" >
                          Rp. 20.000,00
                        </div>
                    </div>
                 
                  </div>
                </div>
                

            </div>
                     
      </div>
       <div class="buttons">
          <div class="prelogslide" style="position:relative;">
                      <a @click="refund" class="btn theme full white-text" style="margin:0;">Refund</a>
          </div><br/>
          <div class="prelogslide" style="position:relative">
              <a @click="cancel" class="btn orange full white-text" style="margin:0;">Batal</a>
          </div>
      </div>   

      <div id="modal_refund" class="modal">
          <div class="modal-content">
            <h4 style="text-align:center;"><i class="sukses material-icons">check_circle</i></h4>
            <div class="refund_text" >
              <p><b>Refund Berhasil</b></p>
              <p>Dana Rp.20.000.000 telah direfund ke </p>
              <p><b>Heru Wibowo (08xxxxxx27)</b></p>
            </div>
          </div>
          <div class="modal-footer" style="text-align:center;">
            <a @click="close" class="modal-close waves-effect waves-green btn-flat">OK</a>
          </div>
        </div>      
  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     tanggal:'',
     nominal:''
    }
  },
  beforeCreate(){
    window.$('body').css('backgroundColor','#FFF')
  },
  methods:{
      close(){
        var self = this;
        window.$('#modal_refund').modal('close')
        self.$router.push({ path:'/home'})
      },
      cancel(){
        var self = this;
        self.$router.push({ path:'/home'})
      },
      refund(transaction_id){

        var self = this;
          function dummySuccess() {
             
              window.$('#modal_refund').modal('open')
             //self.$router.push({ path:'/refundConfirm/'+self.trans_id})
          }
          dummySuccess();     
      
      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
    var self = this;
    window.$('#modal_refund').modal({opacity:0.5,dismissible:false,outDuration:500,onCloseEnd:onclosemodal});
    
    function onclosemodal(){
      var self = this;
      self.$router.push({ path:'/home'})
    }
  }
}
</script>
<style scoped>
 body{
    background-color: #f7f7f7;
  }
  .refund-confirm #nominal{
    font-weight: bold;
    font-size:1.3rem;
  }

.refund-confirm .content{
  padding:0px 15px;
}
.refund-confirm .order{
  padding: 1rem;
}
.refund-confirm .order li{
    margin-bottom:1rem;
}
.refund-confirm > .row .col{
  padding:15px 30px !important;
}
.refund-confirm .col{
  border:1px solid #ccc;
}
.indicator{
  background-color: #ED5A2F !important;
}
.refund-confirm  #test1{
  padding:0px!important;
  background-color: #f7f7f7;
}
.refund-confirm .no_transaksi{
  font-size:1.2rem;
  font-weight: bold;
  font-family:'CabinSemiBold';
  letter-spacing: 0.1rem;
}
.refund-confirm .customer_data{
  font-size:1rem;
  padding:0px 0px;
}
.refund-confirm label{
  font-size: 1rem;
}
.refund-confirm .input-field{
  margin-top: 0rem;
}
.refund-confirm .cust_data{
  font-weight: bolder;
}
.refund-confirm .nominal{
 color: #ED5A2F !important;
 font-weight: bold;
 font-size:1.8rem;
}
.refund-confirm .refund_form{
  margin:0px 25px;
  padding:25px 0px;
  font-size:1.2rem;
}


.refund-confirm .transactions{
  margin-top:0px;
  margin-bottom:0px;
  position: relative;
}
.refund-confirm .refund_text {
  text-align: center;
  line-height: 1.3rem;
  font-size: 1.3rem;
}
.refund-confirm .refund_text p{
  line-height: 1.3rem;
}
.refund-confirm .sukses{
  font-size:4rem;
  color:#ED5A2F;
  text-align: center;
}
li.collection-item{
  padding-bottom: 0px!important;
}
.secondary-content{
  margin:20px -15px;
  color: #ED5A2F!important;
}
li.collection-item a{
  color: #000!important;
}
.refund-confirm .buttons{
  padding-top:50px;
}
.refund-confirm .orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}


</style>
