<template>

  <div style="text-align:left;height:100%; background-color:#eee" >
      <div style="padding:25px;padding-bottom:0px; font-weight:normal;background-color:rgb(247, 247, 247);">
        <div style="padding-bottom:5px;"> <b>Saldo saat ini: Rp: 320.000,00</b></div>
        <p>Metode Top-Up</p>
      </div>
    <ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <i class="material-icons">expand_more</i><b>Bank Danamon</b></div>
    <div class="collapsible-body" style="padding:0px;">
         <ul class="collapsible" data-collapsible="accordion">
            <li class="bangsat">
              <div class="collapsible-header">
                <i class="material-icons">expand_more</i>ATM Danamon</div>
              <div class="collapsible-body content">
                <p><ol class="order" style="font-weight:bold;">
                  <li>
                        Masukkan kartu ATM dan PIN Danamon Anda
                  </li>
                  <li>
                        Pilih menu PEMBAYARAN > E-COMMERCE > TOP UP D-MONEY 
                  </li>
                </ol></p>
              </div>
            </li>
            <li class="bangsat">
              <div class="collapsible-header">
                <i class="material-icons second">expand_more</i>Danamon Online Banking</div>
              <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
            <li class="bangsat">
              <div class="collapsible-header">
                <i class="material-icons second">expand_more</i>D-Bank (Mobile Banking)</div>
              <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
              </div>
            </li>
          </ul>
    </div>
  </li>
  <li>
    <div class="collapsible-header">
      <i class="material-icons">expand_more</i> <b>Bank Lainnya </b></div>
    <div class="collapsible-body" style="padding:0px">
        <ul class="collapsible" data-collapsible="accordion">
          <li class="bangsat">
            <div class="collapsible-header second-header">
              <i class="material-icons">expand_more</i>Nested First</div>
            <div class="collapsible-body">
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </li>
          <li class="bangsat">
            <div class="collapsible-header">
              <i class="material-icons">expand_more</i>Nested Second</div>
            <div class="collapsible-body">
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <i class="material-icons">expand_more</i>Nested Third</div>
            <div class="collapsible-body">
              <p>Lorem ipsum dolor sit amet.</p>
            </div>
          </li>
        </ul>
    </div>
  </li>
</ul>

  </div>

</template>
<script>
export default {
  name: 'topup',
  data: function(){
    return{
     
    }
  },
  mounted(){
    var self = this
     window.$('.collapsible').collapsible();
     console.log(window.Vue)
     setTimeout(
          () => {
            //self.$emit('show-modal');
          //  console.log("event fired")
          },
          2500
        );
  },
  methods: {
    showModal: function() {
          var self =this
          self.$emit('show-modal');
        }
    }
}
</script>
<style>
.active{
  background-color:transparent !important;
}
.collapsible-header {
    position: relative !important;
}

.collapsible-header i.material-icons {
    position: absolute !important;
    right: 0 !important;
}
.collapsible li.active > i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}

.collapsible .collapsible {
  margin: 0!important;;
}

.collapsible li.bangsat.active  i.material-icons {
  -ms-transform: rotate(180deg) !important;/* IE 9 */
  -webkit-transform: rotate(180deg) !important;/* Chrome, Safari, Opera */
  transform: rotate(180deg)!important;
}
.content{
  padding:0px 15px;
}
.order{
  padding: 1rem;
}
.order li{
    margin-bottom:1rem;
}


</style>
