<template>
  <div class="prelogincon">
    <div class="full">
          <div class="trans_img"><img src="img/transaction.png" /></div>
          <h5 class="caption">TRANSAKSI BERHASIL</h5>
          <div class="client">{{Buyer_Name}}</div>
          <div class="phone_no">{{Buyer_Phone}}</div>
          <div class="nominal">Rp. {{Nominal}}</div>
    </div>
    <br>
   
      <div class="prelogslide">
        <a @click="next" class="btn theme full" style="margin:0;">Lihat Transaksi</a>
      </div>
       <div class="prelogslide" style="margin-top:0px;">
        <a @click="manual" class="btn orange full white-text" style="margin:0;">Kembali ke Dashboard</a>
      </div>

  </div>
</template>
<script>

export default {
  name: 'prelog',
  data: function(){
    return{
      Buyer_Name:'Sekar Dirgantari',
      Buyer_Phone:'0815878123',
      Nominal: '75000',
      payload:{
        No_Ponsel:'',
        PIN:'',
        phone:'',
        register: false,
      },
      pintype:'password',
    }
  },
  mounted(){
  },
  methods:{
    login() {
        var self = this;
        function onSuccessDummy() {
            self.$router.push({ path:'/'});
        };

        window.localStorage.removeItem("otp_header");
        function onProceed() {
            self.$router.push({ path:'/pin'});
            console.log("pin")
        };
        function onLogin() {
          console.log("login")
            self.$router.push({ path:'/login'});
        };
        function onError(e) {
            console.error(e);                
        }
        // console.log("start");
        //moffas.start(onProceed,onLogin,onError);
        onSuccessDummy()
    },
    daftar(){
       var self = this;
      self.$router.push({ path:'/regisnumber'});
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style scope>
  body{
     background-color: #f7f7f7;
  }
  .prelogincon{
     background-color: #f7f7f7;
  }
  .full{
    background-color: #f7f7f7;
    height: 100%;
  }
  .caption{
     font-family:'CabinSemiBold';
    letter-spacing: 1pt;
    font-size: 1.5rem;
  }
  .grey{
     color:#ED5A2F!important;
  }
  .daftar{

  }
  input[type="text"]  ,input[type="password"]{
    font-weight: bold!important;
    font-size:1rem!important;
  }
  label{
   font-size: 1rem!important;
  }
 .prelogslide{
  position: relative;
  margin-top:30px;
  font-weight: bold;
  bottom:15px;
}
.client{
  font-size:1.3rem;
  margin-top:20px;
}
.phone_no{
  font-size:1.3rem;
}
.nominal{
  font-size:1.4rem;
  color:#ED5A2F;
  font-weight:bold;
  margin-top:30px;
  margin-bottom:15px;
}
.orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}
.trans_img{
  margin-top:10px;
  margin-bottom:20px;
}
</style>