<template>
  <div class="profilesettings" style="text-align:left">
      <div style="padding:10px 25px; font-size:1.3rem;">
        <label style="text-align:left" class="title_panel"><h4>Profil Merchant</h4></label>
        <label style="">Nomor Merchant</label><br>
        <span><b>{{payload.Nomor_Merchant}}</b></span><br>
          <label style="">Nama Merchant</label><br>
        <span><b>{{payload.Nama_Merchant}}</b></span><br>
         <label style="">Alamat Tempat</label><br>
        <span><b>{{payload.Alamat}}</b></span><br>
        <label style="text-align:left;margin-top:25px;" class="title_panel"><h4>Penanggung Jawab</h4></label>
        <label style="">Nama</label><br>
        <span><b>{{payload.Nama_Penanggung}}</b></span><br>
        <label style="">No. Ponsel</label><br>
        <span><b>{{payload.No_Ponsel}}</b></span><br>
        <label style="">NIK</label><br>
        <span><b>{{payload.NIK}}</b></span><br>
        <label style="text-align:left;margin-top:25px;" class="title_panel"><h4>Rekening Bank</h4></label>
        <label style="">Nama Bank</label><br>
        <span><b>{{payload.Nama_Bank}}</b></span><br>
        <label style="">No. Rekening</label><br>
        <span><b>{{payload.No_Rekening}}</b></span><br>
        <label style="">Nama Pemilik Rekening</label><br>
        <span><b>{{payload.Nama_Pemilik_Rekening}}</b></span><br>
        
      </div>
      <footer class="page-footer">
       <div class="container">
          <div class="row">
                <div class="col s12">
                 <div class="prelogslide">
                    <a @click="fin" class="btn theme full grey" style="margin:0;">Kembali Ke Halaman Awal</a>
                  </div>
              </div>
          </div>   
       </div>
    </footer>
    
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        Nomor_Merchant:'1234566789110',
        Nama_Merchant:'TOKO MAJU MUNDUR',
        NIK:'1234566789110',
        Alamat:'Jalan Mawar no.15A Setia Budi',
        Nama_Penanggung:'Joko Susilo',
        No_Ponsel:'085612345678',
        Nama_Bank:'Bank Danamon',
        No_Rekening:'00985018823',
        Nama_Pemilik_Rekening:'Joko Susilo',
      }
    }
  },
  mounted(){

    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{
    fin(){
        var self = this;
        var otp = self.otp;

        function dummySuccess(){
           // window.localStorage.setItem("moffas.phone",self.payload.phone)
           self.$router.push('/settings');
        }
        
        dummySuccess();
     }
    }
}
</script>
<style scoped>
body{
  background-color: #f7f7f7;
}
.profilesettings .title_panel{
  margin-top:10px;
}

.inputs { 
  width: 40px!important;
  height: 40px; 
  margin: 5px !important;
  text-align: center;
  border:1px solid rgb(38, 166, 154) !important;  
}
.grey{
  background-color: #FFF !important;
  color: #ED5A2F !important;
  font-family: 'LatoBold';
}
label{
margin-top: 25px!important;
font-size: 1.1rem!important;
color: #696969;
}
.profilesettings .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.profilesettings .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.profilesettings .prelogslide{
  position: relative;
  bottom:0px;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .profilesettings .page-footer{
      position: absolute;
      width: 100%;
      bottom: 20px;
    }
}
</style>