<template>

  <div class="settings">

         <div class="row" style="position:relative;height:100%;margin-bottom:0px;">
           
            <div id="transdata" class="col s12" >
              <div class="container premium" style="background-color:#f7f7f7;padding-top:20px;width:100%">
                <router-link  to="/profilesettings" style="color:#000!important;">
                  <div class="row valign" style="padding:15px 20px;margin-bottom:5px; background-color:#fff;">
                    <div class="col s11 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem; color #000;"><b>Profil</b></span>
                      </div>
                    </div>
                     <div class="col s1 valign-wrapper" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>

                <router-link  to="/ubahpin"  style="color:#000!important;">
                  <div class="row " style="padding:15px 20px;margin-bottom:0px; background-color:#fff;">
                    <div class="col s11 valign-wrapper" >
                      <div style="padding-left:20px;">
                        <span style="font-size:1rem;color #000;"><b>Ubah Pin</b></span>
                      </div>
                    </div>
                     <div class="col s1 valign-wrapper" >
                         <i class="ic material-icons" style="color:#bdbdbd" >keyboard_arrow_right</i>
                    </div>
                  </div>
                </router-link>
              </div>
              
            
            </div>
          
          

          </div>
          <footer class="page-footer">
             <div class="container">
                <div class="row">
                      <div class="col s12">
                       <div class="prelogslide">
                          <a @click="logout" class="full_logout" style="margin:0;"><i class="ic text-theme ico  material-icons">exit_to_app</i>Log Out</a>
                      </div>
                    </div>
                </div>   
             </div>
          </footer>
        


  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     tanggal:'',
     nominal:'220000',
     img_profile:'img/img_avatar.png'
    }
  },
  beforeCreate(){
    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{

      upgrade(){
       // alert("premium")
         var self = this;
         self.$router.push('/upgrade');          
      },
      loginfin(){

       },
      logout(){

      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
      window.$('body').css('background-color','#f7f7f7')
      window.$('.profile_picture').css('background-image',"url('"+self.img_profile+"')")
      console.log("nmnnn")
      window.$('#modal_premium').modal();
  }
}
</script>
<style scoped>
 body{
     background-color: #f7f7f7;
  }
.settings .content{
  padding:0px 15px;
}

 .settings .row .col{
    padding:0px !important;
  }
.settings#transdata{
  background-color: #FFF;
  padding: 0px;
  padding-bottom: 60%;
  
}

.settings .page-footer{
  background: #F7f7f7;
  padding-top: 25px;
  padding-bottom: 25px
}
.settings .prelogslide{
  position: relative;
  bottom:0px;
}
.settings footer .container{
  width:100%;

}
.settings footer .row{
  padding-left: 20px;
  background: #FFF;
}
.settings .profile_picture{
  width:80px;
  height:80px;
  border-radius: 50% 50%;
  background-size:contain; 

}

.settings .full_logout{
  color: #ED5A2F;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 1.2rem;
  font-family: 'LatoBold';
}
.settings .ico{
  display: inline-flex;
  vertical-align: top;
  margin-right: 5px;
}
</style>
