.qrcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 100vw; /*customize to your needs 100%*/
    height: 90vh; /*customize to your needs*/
}
.qrcontainer img
{
  max-width:50%;
  max-height:50%;
}
