<template>
  <div style="text-align:left">
      <div style="padding:25px;">
        <label style="text-align:left"><h4>KONFIRMASI PEMBAYARAN</h4></label>
        <label style="float:left">Merchant</label><br>
        <span><b>{{payload.merchant}}</b></span><br>
        <label style="float:left">Nominal</label><br>
        <span><b>{{payload.amount}}</b></span><br>
      </div>
      <hr>
      <div class="logincon">
        <div style="text-align:center">
          <div style="padding:25px;">
              <h2 style="display:block;">Masukan PIN</h2>
              <div class="pin">
                <input type="password" style="width:auto; text-align:center; font-size:25px;" v-model="pin" pattern="[0-9]{4}" maxlength="6">
              </div>
          </div>
          <div class="prelogslide">
            <a @click = "pay" class="btn theme full" style="margin:0;">Bayar Sekarang</a>
            <br>
            <br>
            <a @click = "cancel" class="btn theme full" style="margin:0;">Batal</a>
          </div>
        </div>
      </div>
  </div>
</template>
<script>

export default {
  name: 'cpayment',
  data: function(){
    return{
      payload:{},
      otp:'',
      pintype:'password',
    }
  },
  props:['pload'],
  mounted(){
    console.log("in cpayment");
    this.payload=JSON.parse(this.pload);
    this.otp = "";
     
    console.log(this.payload);
    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      // console.log("test");
    });
  },
  methods:{
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    },
    cancel(){
        var self = this;
        self.$router.push({ path:'/home'});
    },
    pay(){
        var self = this;
        //alert("scan success");        
        function onError(e) {
            alert("ERROR : "+e.message);
            self.$router.push({ path:'/home'});
        }

        function onSuccess(d) {
            alert("Pembayaran sedang diproses.");
            console.log(d);
            self.$router.push({ path:'/home'});            
        }
        var pload = JSON.stringify(this.payload);
        moffas.do_request("billPay",pload,onSuccess,onError);
    }
  },
}
</script>
