<template>
  <div class="col s12 m12 l12" style="text-align:center;margin-top:10px;">
      <router-link to="/home" class="waves-effect waves-light headbtn z-depth-1"><i class="ic material-icons" v-bind:class="{ 'text-theme': ishome }">home</i><br><span>Home</span></router-link>
      <router-link to="/merchant" class="waves-effect waves-light headbtn z-depth-1"><i class="ic material-icons" v-bind:class="{ 'text-theme': ismerchant }">store</i><br><span >Merchant</span></router-link>
      <router-link to="/transaction" class="waves-effect waves-light headbtn z-depth-1"><i class="ic material-icons" v-bind:class="{ 'text-theme': istrans }">description</i><br><span>Transaksi</span></router-link>
      <router-link to="/profile" class="waves-effect waves-light headbtn z-depth-1"><i class="ic material-icons" v-bind:class="{ 'text-theme': isprofile }">person</i><br><span>Profile</span></router-link>
  </div>
</template>
<script>

export default {
  data: function(){
  	return{
      ishome:false,
      ismerchant:false,
      istrans:false,
      isprofile:false,
  	}
  },
  methods:{

  },
  mounted(){
    if(this.$route.path=="/home")this.ishome=true;
    if(this.$route.path=="/merchant")this.ismerchant=true;
    if(this.$route.path=="/transaction")this.istrans=true;
    if(this.$route.path=="/profile")this.isprofile=true;
  }
}
</script>
<style>

</style>