<template>
  <div class="logincon">
    <div style="text-align:center">
      <div style="padding:20px;">
          <div>
            <!-- <img class="logo-img" src="dist/img/logo.png" alt=""> -->
          </div>
          <h4 style="text-align:left; display:block;" class="title_panel">Selamat Datang</h4>
          <label style="float:left">Masukan No. Ponsel Anda</label>
          <div class="input-field">
            <input type="tel" v-model="phone" placeholder="Phone Number" id="login_phonenumber">
          </div>
      </div>
      <div class="prelogslide">
        <a @click="next" class="btn theme full" style="margin:0;">Berikutnya</a>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      phone:'',
    }
  },
  mounted(){
  },
  methods:{
    next(){
      if(this.phone==""){
        alert("nomor telepon harus diisi");
      }else{
        var self = this;
        function onProceed(ss) {
            console.log(ss);
            window.localStorage.setItem("otp_header",ss.otp_header);
            self.$router.push({ path:'/pin'})
        }
        function onUnauth() {
            let pin =  window.localStorage.getItem("PIN");
            console.log("PIN is "+pin);
            if(pin ===null){
              self.$router.push({ path:'/regis/'+self.phone})
            }else{
              self.$router.push({ path:'/pin'})
            }
            

        }
        function onDenied() {
            console.log("Denied");
        }
        function onError(e) {
            console.log(e);
        }
        console.log(moffas.config.bin+this.phone);
        // moffas.login_start(moffas.config.bin+self.phone,onProceed,onUnauth,onDenied,onError);  
        onUnauth();     
      }
    }
  },
}
</script>
<style>
  #login_phonenumber{
    font-weight: bold;
    font-size:1.5em;
  }
label{
font-size: 1.2rem!important;
}

</style>
