<template>
  <div>
    <!-- side menu -->
    <ul id="slide-out" class="side-nav theme">
        <li>
    <!--           <div class="user-view" align="center">
            <a href="#"><img width="250px" height="250px" v-bind:src="profile_img"></a>
          </div> -->
        </li>
        <li align="center"><span class="name">Hi, {{fullname}}</span></li>
        <li><a id="profile-button" href="#!" class="waves-effect" style="color:white;">
          <i class="material-icons navic">account_box</i> Profile Anda</a></li>
        <li><div class="divider"></div></li>
        <li><a href="#!" class="waves-effect" style="color:white;"><i class="material-icons navic">contacts</i> Kontak Informasi</a></li>
        <li><a href="#!" class="waves-effect" style="color:white;"><i class="material-icons navic">question_answer</i> FAQ</a></li>
        <li><a id="logout-button" @click="logout" class="waves-effect" style="color:white;"><i class="material-icons navic">exit_to_app</i> Log Out</a></li>
    </ul>
    <!-- navbar -->
    <div class="navbar-fixed">
        <nav class="nav-extended invtheme">
          <div class="nav-wrapper">
            <ul>
<!--               <li v-if="showback==false">
                 <a data-activates="slide-out" class="jj left"><i class="material-icons" style="color:#fff">menu</i></a>                
              </li> -->
              <li v-if="showback">
                 <a href="javascript:;" @click="back" class="left"><i class="material-icons">keyboard_arrow_left</i></a>      
              </li>
              <li class="headlogo" style="text-align:center;width:100%;">
                <span style="max-height: 2em;vertical-align: center;font-family:'LatoBold';font-weight:bold; text-transform:uppercase;"id="titlePage"></span>
              </li>
              <!---
              <li v-if="this.$route.path=='/home'" class="right">
                 <a href="" class="left"><i class="material-icons" style="color:grey;">notifications</i></a>      
                 <a href="" class="left"><i class="material-icons" style="color:grey;">settings</i></a>      
              </li>

            -->
<!--              <li style="float:right;padding-right:10px;">
                <span style="color:#fff">Hi, {{fullname}}</span>
              </li> -->
            </ul>
          </div>
        </nav>
      </div>
  </div>
</template>
<script>
import router from '../router'

export default {
  name: 'navigasi',
  data: function(){
    return{
      fullname:'',
      hmsg:'',
      title:'',
      showback: true
    }
  },
  methods:{
    back(){
      this.$router.go(-1);
      //this.$route.back();
    },
    coba(){
      console.log("coba in")
    },
    logout: function(){
      var self=this;
      var message = "Apakah anda ingin logout?";
      var title = "D-Money";
      var buttonLabels = ["Ya","Tidak"];
      navigator.notification.confirm(message, confirmCallback, title, buttonLabels);
      function confirmCallback(buttonIndex) {
        if (buttonIndex == 1) {
          window.localStorage.clear();
          kimpul_start();
          self.$router.go('/login');
        }
      }
    },
    exit: function(){
    let name = this.$route.name;
      
      if(name=='home'){     
        var message = "Apakah anda ingin keluar dari Applikasi?";
        var title = "Keluar Applikasi";
        var buttonLabels = ["Ya","Tidak"];
        navigator.notification.confirm(message, confirmCallback, title, buttonLabels);
        function confirmCallback(buttonIndex) {
          if (buttonIndex == 1) {
            navigator.app.exitApp();
          }
        }
        console.log("back"+name);
      }else{
        console.log(name);
      }
    }
  },
   watch: {
    '$route' (value) {
      // react to route changes...
      var self = this 
      self.showback=true;
      if(value.meta.title !==undefined){
        self.hmsg = value.meta.title 
        self.showback = value.meta.showback 
      }else{
        self.hmsg = value.name
      }
      window.$("#titlePage").html(value.meta.title)
      self.coba();
      this.$nextTick(function () {
        console.log('harusnya bisa diupdate disini') // => 'updated'
        window.$("#titlePage").html(self.hmsg)
      })
    }
  },
  mounted: function(){
    let name = this.$route.name;
    this.hmsg = this.$route.name;
    var self = this      

    let currentRoute = router.currentRoute;
    console.log("currentRoute ")
    console.log(currentRoute)
    if(currentRoute.meta !== undefined){
      let meta = currentRoute.meta
      self.title = meta.title
      window.$("#titlePage").html(self.title)
      if(meta.showback !==undefined){
        self.showback = meta.showback
      }else{
        self.showback = true
      }

    }
     
    $(".jj").sideNav({
        edge: 'left', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor,
        draggable: true,
      });
    this.fullname = window.localStorage.getItem("username");
  }
}
</script>

<style type="text/css" scoped>
.headlogo{
  position: absolute;
  text-align: center;
  z-index: -10000;
  font-size:1.5em;
}
</style>
