<template>
  <div>
      <div style="padding:25px;">
        <label style="text-align:left"><h4>PEMBAYARAN</h4></label>
        <label style="float:left">Merchant</label><br>
        <span><b>{{payload.merchant}}</b></span><br>
        <label style="float:left">Nominal</label>
          <div class="input-field">
            <input type="text" v-model="payload.amount" placeholder="0"/>
          </div>
           <br>
         <div class="prelogslide">
          <a @click = "pay" class="btn theme full" style="margin:0;">Berikutnya</a>
          <br>
          <br>
          <a @click = "cancel" class="btn theme full" style="margin:0;">Batal</a>
        </div>
      </div>
  </div>
</template>
<script>

export default {
  name: 'payamount',
  data: function(){
    return{
      payload:{
      },
      pintype:'password',
    }
  },
  props:['pload'],
  mounted(){
    console.log("in payamount");
    this.payload=JSON.parse(this.pload);
    this.payload["amount"] = 0;
    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      // console.log("test");
    });
  },
  methods:{
     cancel(){
        self.$router.push({ path:'/home'});
    },
   pay(){
      var self = this;
      var valid=true;

      if(!payload.amount){
        alert('Nominal tidak boleh kosong');
      }else{
            self.$router.push('/cpayment/'+JSON.stringify(self.payload));            
      }
    },
  },
}
</script>
