<template>
  <div class="prelogincon">
    <div class="full">
          <h4 class="text-theme judul" >D-Money</h4>
          <h5 class="caption">Merchant App</h5>
        </div>
    <br>
    <div style="padding:20px;">
       <label style="float:left">No. Ponsel</label>
        <div class="input-field">
          <input type="text" v-model="payload.No_Ponsel" placeholder="No. Ponsel" />
        </div>

         <label style="float:left">Buat PIN (6 angka)</label>
          <div class="input-field">
            <input style="max-width:90%; float:left;" :type="pintype" inputmode="numeric" id="pin" v-model="payload.PIN" placeholder="PIN" data-length="6" maxlength="6"/>
            <i style="float:right;" class="material-icons" @click="cptype">remove_red_eye</i>
          </div>
          <br/>
      </div>   <br/>
      <div class="">
         <div id="forget">
          <span><a @click="daftar" class="forget" style="margin:0;">Lupa Pin Anda?</a></span>
        </div>
         <a @click="login" class="btn theme full" style="margin:0;">Log in</a>
         <div id="new">
          <span>Ingin menjadi merchant?</span><br/>
          <span><a @click="daftar" class="daftar" style="margin:0;">DAFTAR SEKARANG</a></span>
        </div>

      </div>

     
     
     

     
     <!-- <router-link to="/home" class="btn grey full white-text" style="margin:0;">Berikutnya</router-link>-->
      <br>
      
      <br>

     
      <br>
    </div>
  </div>
</template>
<script>

export default {
  name: 'prelog',
  data: function(){
    return{
      payload:{
        No_Ponsel:'',
        PIN:'',
        phone:'',
        register: false,
      },
      pintype:'password',
    }
  },
  mounted(){
  },
  methods:{
    login() {
        var self = this;
        function onSuccessDummy() {
            self.$router.push({ path:'/home'});
        };

        window.localStorage.removeItem("otp_header");
        function onProceed() {
            self.$router.push({ path:'/pin'});
            console.log("pin")
        };
        function onLogin() {
          console.log("login")
            self.$router.push({ path:'/login'});
        };
        function onError(e) {
            console.error(e);                
        }
        // console.log("start");
        //moffas.start(onProceed,onLogin,onError);
        onSuccessDummy()
    },
    daftar(){
       var self = this;
      self.$router.push({ path:'/regisnumber'});
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style scope>
  .judul{
    font-family:'CabinSemiBold';
    letter-spacing: 1pt;
  }
  .caption{
     font-family:'CabinSemiBold';
    color:#aeaeae;
    letter-spacing: 1pt;
  }
  .grey{
     color:#ED5A2F!important;
  }
  .daftar{

  }
  input[type="text"]  ,input[type="password"]{
    font-weight: bold!important;
    font-size:1rem!important;
  }
  label{
   font-size: 1rem!important;
  }
  #new{
     margin-top:25px;
     font-size: 1rem!important;
  }
  .daftar{
    text-decoration: underline;
    font-weight: bold;
  }
   #forget{
    margin:25px;
     font-size: 1rem!important;
     margin-bottom:20px;
  }
  #forget a{
     text-decoration: underline;
    font-weight: bold;
  }
</style>