<template>
<div class="qrcontainer">
<img src="img/guide.png">
</div>

</template>
<script>
    export default {
        name: 'qr_scan',
        data: function(){
            return{
            }
        },
        mounted(){
            console.log("qr scan");

            var self = this;
           // alert("start");
            QRScanner.show(function(status){
                QRScanner.scan(displayContents);
                console.log(status);
            });
            function displayContents(err, text){
                QRScanner.hide(function(status){
                    console.log(status);
                    /*
                    QRScanner.destroy(function(status){
                        console.log(status);
                    });
                    */
                    if(err){
                        alert("scan failed");
                        // an error occurred, or the scan was canceled (error code `6`)
                        console.log(err);
                        self.$router.push({ path:'/home'});
                    } else {
                        //window.localStorage.setItem("moffas.scanned_qr",text);
                        alert("scan success");        
                        function onError(e) {
                            alert("ERROR : "+e.message);
                            self.$router.push({ path:'/home'});
                        }

                        function onSuccess(d) {
                            console.log(d);
                            var dd = JSON.parse(d);
                            var n = dd["amount"];
                            if (n) {
                                console.log("go to cpayment");
                                self.$router.push('/cpayment/'+d);
                            }
                            else {
                                console.log("go to payamount");
                                self.$router.push('/payamount/'+d);
                            }            
                        }
                        moffas.do_request("validateQR",text,onSuccess,onError);
                    }
                });            

            }
        },
        methods:{
        },
    }
</script>
