<template>
  <div class="logincon">
    <div style="text-align:center">
      <div>
          <div id="QRCode" class="QrCode">
            <!-- <img class="logo-img" src="dist/img/logo.png" alt=""> -->
          </div>
          
      </div>
        <div class="nama_toko">
            Toko Maju Mundur
        </div>
         <div class="nominal">
            Rp. {{nominal}}
        </div>
      <div class="prelogslide">
        <a @click="next" class="btn theme full" style="margin:0;">Cek Transaksi</a>
      </div>
      <div class="kesulitan"> Ada kesulitan saat scan QR Code?</div>
       <div class="prelogslide">
        <a @click="manual" class="btn orange full white-text" style="margin:0;">Input Manual</a>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'login',
  props:['amount'],
  data: function(){
    return{
      nominal:'',
    }
  },
  mounted(){
    this.nominal = this.amount
    window.$('#QRCode').qrcode({width: 250,height: 250,text: this.nominal});
    console.log("nominal "+this.nominal)
  },
  methods:{
    manual(){
      self.$router.push({ path:'/manual/'+self.nominal})
    },
    next(){
      if(this.nominal==""){
        alert("nominal harus diisi");
      }else{
        var self = this;

        function onUnauth() {  //temporary use this
              self.$emit('show-modal');
              setTimeout(
                  () => {
                    self.$emit('close-modal');
                    self.$router.push({ path:'/transSucccess'})
                  },
                  500
                );
             
        }

        function onProceed(ss) {
            console.log(ss);
            window.localStorage.setItem("otp_header",ss.otp_header);
            self.$router.push({ path:'/qrcodegen'})
        }
        
        function onDenied() {
            console.log("Denied");
        }
        function onError(e) {
            console.log(e);
        }
        console.log(moffas.config.bin+this.phone);
        // moffas.login_start(moffas.config.bin+self.phone,onProceed,onUnauth,onDenied,onError);  
        onUnauth();     
      }
    }
  },
}
</script>
<style scoped>
 body{
    background-color: #f7f7f7;
  }
  #nominal{
    font-weight: bold;
    font-size:2rem;
  }
label{
font-size: 1.2rem!important;
}

.QrCode {
  margin:30px;
  margin-top:40px;
}
div#QRCode.QrCode > canvas{
  width: 100%;
  height: 100%;
  padding:20px;
  border: 2px solid #000;
}
canvas{
  width: 100% !important;
  height: 100% !important;
  padding:20px;
}
.prelogslide{
  position: relative;
  margin-top:30px;
  font-weight: bold;
  bottom:15px;
}
.nama_toko{
  font-size:1.5rem;
}
.nominal{
  font-weight: bold;
  font-size:2rem;
}
.kesulitan{
  font-weight: bold;
}
.orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}
</style>
