<template>

  <div class="refund-transaction">
         <div class="row" style="position:relative;height:100%;">
           
            <div id="test1" class="col s12" style="padding-bottom:60%!important;">
               <div style="text-align:left;">

                  <div class="customer_data">
                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Customer
                        </div>
                        <div class="cust_data col s7" >
                          Heru Wibowo
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          No. Handphone
                        </div>
                        <div class="cust_data col s7" >
                          08xxxxx272
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Tanggal
                        </div>
                        <div class="cust_data col s7" >
                          31 Mei 2018
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Waktu
                        </div>
                        <div class="cust_data col s7" >
                          10:45
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s5" >
                          Nominal
                        </div>
                        <div class="cust_data col s7" >
                          Rp. 100.000,00
                        </div>
                    </div>

                 
                  </div>
                </div>
                <div class="refund_form">
                   <label >Nominal Refund</label>
                  <div class="input-field">
                    <input type="tel" v-model="nominal" placeholder="Nominal transaksi" id="nominal">
                  </div>
                </div>
                

            </div>
          
            <div class="row" style="position:absolute;width:100%;bottom:30px">
                  <div class="col s12">
                   <div class="prelogslide">
                      <a @click="refund" class="btn theme full white-text" style="margin:0;">Refund</a>
                  </div>
                </div>
            </div>

          </div>
             
  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     tanggal:'',
     nominal:''
    }
  },
  beforeCreate(){
    console.log("test")
    window.$('body').css('background-color','#FFF')
  },
  methods:{
      refund(transaction_id){

        var self = this;
        function dummySuccess() {
             self.$router.push({ path:'/refundConfirm/'+self.trans_id})
          }
          dummySuccess();     
      
      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
     window.$('body').css('background-color','#FFF')
  }
}
</script>
<style scoped>
 body{
    background-color: #FFF;
   
  }
  .refund-transaction#nominal{
    font-weight: bold;
    font-size:1.3rem;
  }

.refund-transaction .content{
  padding:0px 15px;
}
.refund-transaction.order{
  padding: 1rem;
}
.refund-transaction.order li{
    margin-bottom:1rem;
}
.refund-transaction.row .col{
  padding:0px !important;
}
.refund-transaction.indicator{
  background-color: #ED5A2F !important;
}
.refund-transaction #test1{
  background-color: #FFF;
  padding: 0px;
  padding-bottom: 100%;
}
.refund-transaction .no_transaksi{
  font-size:1.2rem;
  font-weight: bold;
  font-family:'CabinSemiBold';
  letter-spacing: 0.1rem;
}
.refund-transaction .customer_data{
  background-color: #f7f7f7;
  font-size:1.2rem;
  padding:25px;
}
.refund-transaction label{
  font-size: 1rem;
}
.refund-transaction .input-field{
  margin-top: 0rem;
}
.refund-transaction .cust_data{
  font-weight: bolder;
}
.refund-transaction .nominal{
 color: #ED5A2F !important;
 font-weight: bold;
 font-size:1.8rem;
}
.refund-transaction .refund_form{
  margin:0px 25px;
  padding:25px 0px;
  background-color: #FFF;
  font-size:1.2rem;
}


.transactions{
  margin-top:0px;
  margin-bottom:0px;
  position: relative;
}
li.collection-item{
  padding-bottom: 0px!important;
}
.secondary-content{
  margin:20px -15px;
  color: #ED5A2F!important;
}
li.collection-item a{
  color: #000!important;
}

.orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}

</style>
