<template>
  <div>
      <div style="padding:20px;">
        <label style="text-align:left; font-size" class="title_panel"> <h4 style="text-align:left; display:block;" class="title_panel">Lengkapi data Anda</h4></label>
        <label style="float:left">No. Ponsel</label>
        <div class="input-field">
          <input type="text" v-model="payload.No_Ponsel" placeholder="No. Ponsel" Disabled/>
        </div>
          <label style="float:left">Nama Merchant</label>
        <div class="input-field">
          <input type="text" v-model="payload.Nama_Merchant" placeholder="Nama Merchant"/>
        </div>
        
        <label style="float:left">Alamat Merchant</label>
        <div class="input-field">
          <input type="text" v-model="payload.Alamat_Merchant" placeholder="Alamat Merchant"/>
        </div>
        
        <label style="float:left">Kelurahan / Desa</label>
        <div class="input-field">
          <input type="text" v-model="payload.Kelurahan" placeholder="Kelurahan / Desa"/>
        </div>
        
        <label style="float:left">Kecamatan</label>
        <div class="input-field">
          <input type="text" v-model="payload.Kecamatan" placeholder="Kecamatan"/>
        </div>
        
         <label style="float:left">Kota/ Kabupaten</label>
        <div class="input-field">
          <input type="text" v-model="payload.Kota" placeholder="Kota"/>
        </div>
        
        <div class="row">
          <div class="col s8" style="margin:0;padding:0">

             <label style="float:left">Propinsi</label>
            <div class="input-field">
              <input type="text" v-model="payload.Propinsi" placeholder="Propinsi"/>
            </div>
          </div>

          <div class="col s4">
               <label style="float:left">Kode Pos</label>
              <div class="input-field">
                <input type="text" v-model="payload.Kode_Pos" placeholder="Kode Pos"/>
              </div>
           </div>

        </div>

         <label style="float:left">Nama Penanggung Jawab</label>
        <div class="input-field">
          <input type="text" v-model="payload.Penanggung_Jawab" placeholder="Nama Penanggung Jawab"/>
        </div>
         <label style="float:left">Alamat Email</label>
        <div class="input-field">
          <input type="text" v-model="payload.Email" placeholder="Alamat Email"/>
        </div>
       
        <label style="float:left">NIK</label>
        <div class="input-field">
          <input type="text" v-model="payload.NIK" placeholder="NIK"/>
        </div>

         <label style="float:left">Alamat Tempat Tinggal</label>
        <div class="input-field">
          <input type="text" v-model="payload.Alamat_PJ" placeholder="Alamat Merchant"/>
        </div>
        
        <label style="float:left">Kelurahan / Desa</label>
        <div class="input-field">
          <input type="text" v-model="payload.Kelurahan_PJ" placeholder="Kelurahan / Desa"/>
        </div>
        
        <label style="float:left">Kecamatan</label>
        <div class="input-field">
          <input type="text" v-model="payload.Kecamatan_PJ" placeholder="Kecamatan"/>
        </div>
        
         <label style="float:left">Kota/ Kabupaten</label>
        <div class="input-field">
          <input type="text" v-model="payload.Kota_PJ" placeholder="Kota"/>
        </div>
        <div class="row">
          <div class="col s8" style="margin:0;padding:0">

             <label style="float:left">Propinsi</label>
            <div class="input-field">
              <input type="text" v-model="payload.Propinsi_PJ" placeholder="Propinsi"/>
            </div>
          </div>
          <div class="col s4">
               <label style="float:left">Kode Pos</label>
              <div class="input-field">
                <input type="text" v-model="payload.Kode_Pos_PJ" placeholder="Kode Pos"/>
              </div>
           </div>
        </div>
        <!--
         <label style="float:left">Buat PIN (6 angka)</label>
          <div class="input-field">
            <input style="max-width:90%; float:left;" :type="pintype" inputmode="numeric" id="pin" v-model="payload.PIN" placeholder="PIN" data-length="6" maxlength="6"/>
            <i style="float:right;" class="material-icons" @click="cptype">remove_red_eye</i>
          </div>
          <br/>
          <p style="float:left;text-align:left">Dengan mengklik tombol Berikutnya, saya menyetujui <a href="javascript:;">Syarat dan Ketentuan</a></p>-->
          <br>
      </div>
      <br />
      <div style="padding:10px 20px 20px 20px;">
        <button class="btn theme full" style="margin:0;margin-bottom:25px;" @click="next">Lanjut</button>
        
      </div>

  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        No_Ponsel:this.phone,
        Nama_Merchant:'',
        Alamat_Merchant:'',
        Kelurahan:'',
        Kecamatan:'',
        Kota:'',
        Propinsi:'',
        Kode_Pos:'',
        Penanggung_Jawab:'',
        NIK:'',
        Email:'',
        Alamat_Merchant_PJ:'',
        Kelurahan_PJ:'',
        Kecamatan_PJ:'',
        Kota_PJ:'',
        Propinsi_PJ:'',
        Kode_Pos_PJ:'',
        Pertanyaan:'',
        Jawaban:'',
        PIN:'',
        phone:'',
        register: true,
      },
      question:[
          {
            q:'Apa nama peliharaan anda'
          },
          {
            q:'Siapa nama ayah anda'
          }
        ],
      pintype:'password',
    }
  },
  props:['phone'],
  mounted(){
    this.payload.phone = this.phone;
    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      // console.log("test");
    });
  },
  methods:{
    next(){

      //DO SOME VALIDATION HERE

      var self = this;
      var valid=true;
      var notvalid='';
      /*
      for(var p in this.payload){
        if(this.payload[p]==''){
          valid=false;
          notvalid+=p.replace('_',' ')+'\n';
        }
      }
      */

      if(!valid){
        alert(notvalid+'tidak boleh kosong');
      }else{

        function dummySuccess(){ // SEMENTARA DUMMY PAKE INI 
          let py = self.payload 
          //window.localStorage.setItem("PIN",py.PIN);
           self.$router.push('/cregis/'+JSON.stringify(self.payload));          
        }

        function onProceed(regpload) {
            console.log(regpload);
            window.localStorage.setItem("otp_header",regpload.otp_header);
            for (var k in regpload){
                if (k != "response") {
                    self.payload[k] = regpload[k];
                }
            }
            console.log(self.payload);
            self.$router.push('/cregis/'+JSON.stringify(self.payload));            
        }
        function onDenied(){
            alert("nomor sudah terfdaftar");
            self.$router.push('/login');            
        }
        function onError(e){
            alert("error : "+e.message);
        }
        
        console.log("registering");
        console.log(self.payload);
        console.log(self.phone);
        //moffas.regis_start(moffas.config.bin+self.payload.phone,onProceed,onDenied,onError);  
        dummySuccess();  
      }
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    }
  },
}
</script>
<style>
  
  input[type="text"]{
    font-weight: bold!important;
    font-size:1.5em!important;
  }
  .with-gap{
    background-color: red;
  }
  label{
    font-weight: bold!important;
    font-size:1rem!important;
  }
</style>