<template>

  <div class="transaction-history">
         <div class="row" style="position:relative;height:100%;">
           
            <div id="test1" class="col s12" style="padding-bottom:60%!important;">
              <div style="padding:25px;text-align:center">
                <div class="tanggal" >{{tanggal}}</div>
                <div class="nominal" >Rp {{nominal}}</div>
              </div>
               <div style="background-color:#FFF;padding:30px 0px;">
                  <div class="search_box">
                    <div class="row" style="margin-bottom:0px;">
                        <div class="input-field col s12" >

                           <i class="material-icons prefix">search</i>
                             <input type="text" class="search_" placeholder="Cari nama customer"/>

                        </div>
                    </div>
                 
                  </div>
                </div>

                <div class="history_box">
                    <ul class="collection transactions">
                          
                          <li class="collection-item">
                            <a @click="transactionDetail('2131232')" >
                       
                                <div class="row" style="margin-bottom:0px;padding-bottom:0px">
                                  <div class="col s11">
                                    <div class="row">
                                       <div class="col s6" style="text-align:left;font-weight:bold;text-transform:uppercase;font-size:1.2rem">Heru Wibowo</div>
                                       <div class="col s6" style="text-align:right">10:45</div>
                                         <div class="col s6" style="text-align:left;font-size:1.1rem">Sampoerna Mild</div>
                                       <div class="col s6" style="text-align:right;font-size:1.1rem;font-weight:bold;color:#ED5A2F">100.000,00</div>
                                    </div>
                                  </div>
                                  <div class="col s1">
                                    <div class="secondary-content">
                                         <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                  </div>
                                </div>
                          </a>
                        </li>



                        <li class="collection-item">
                            <a @click="transactionDetail('2131232')" >
                       
                                <div class="row" style="margin-bottom:0px;padding-bottom:0px">
                                  <div class="col s11">
                                    <div class="row">
                                       <div class="col s6" style="text-align:left;font-weight:bold;text-transform:uppercase;font-size:1.2rem">Heru Wibowo</div>
                                       <div class="col s6" style="text-align:right">10:45</div>
                                         <div class="col s6" style="text-align:left;font-size:1.1rem">Sampoerna Mild</div>
                                       <div class="col s6" style="text-align:right;font-size:1.1rem;font-weight:bold;color:#ED5A2F">100.000,00</div>
                                    </div>
                                  </div>
                                  <div class="col s1">
                                    <div class="secondary-content">
                                         <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                  </div>
                                </div>
                          </a>
                        </li>


                        <li class="collection-item">
                            <a @click="transactionDetail('2131232')" >
                       
                                <div class="row" style="margin-bottom:0px;padding-bottom:0px">
                                  <div class="col s11">
                                    <div class="row">
                                       <div class="col s6" style="text-align:left;font-weight:bold;text-transform:uppercase;font-size:1.2rem">Heru Wibowo</div>
                                       <div class="col s6" style="text-align:right">10:45</div>
                                         <div class="col s6" style="text-align:left;font-size:1.1rem">Sampoerna Mild</div>
                                       <div class="col s6" style="text-align:right;font-size:1.1rem;font-weight:bold;color:#ED5A2F">100.000,00</div>
                                    </div>
                                  </div>
                                  <div class="col s1">
                                    <div class="secondary-content">
                                         <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                  </div>
                                </div>
                          </a>
                        </li>

                          <li class="collection-item">
                            <a @click="transactionDetail('2131232')" >
                       
                                <div class="row" style="margin-bottom:0px;padding-bottom:0px">
                                  <div class="col s11">
                                    <div class="row">
                                       <div class="col s6" style="text-align:left;font-weight:bold;text-transform:uppercase;font-size:1.2rem">Heru Wibowo</div>
                                       <div class="col s6" style="text-align:right">10:45</div>
                                         <div class="col s6" style="text-align:left;font-size:1.1rem">Sampoerna Mild</div>
                                       <div class="col s6" style="text-align:right;font-size:1.1rem;font-weight:bold;color:#ED5A2F">100.000,00</div>
                                    </div>
                                  </div>
                                  <div class="col s1">
                                    <div class="secondary-content">
                                         <i class="material-icons">keyboard_arrow_right</i>
                                    </div>
                                  </div>
                                </div>
                          </a>
                        </li>




                      </ul>
                </div>

            </div>
          
            <div class="row" style="position:absolute;width:100%;bottom:30px">
                  <div class="col s12">
                   <div class="prelogslide">
                      <a @click="next" class="btn orange full white-text" style="margin:0;">Tanggal Lainnya</a>
                  </div>
                </div>
            </div>

          </div>
             
  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  data: function(){
    return{
     tanggal:'',
     nominal:'220000'
    }
  },
  methods:{
    next(){
      var self = this;
      function dummySuccess() {
           self.$router.push({ path:'/pinTransfer'})
        }
        dummySuccess();     
      
      },
      transactionDetail(id){
         var self = this;
         self.$router.push({ path:'/transDetail/'+id})
      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
  }
}
</script>
<style scope>
 body{
     background-color: #f7f7f7;
  }
.transaction-history .content{
  padding:0px 15px;
}
.transaction-history .order{
  padding: 1rem;
}
.transaction-history .order li{
    margin-bottom:1rem;
}
.transaction-history  .row .col{
    padding:0px !important;
  }
.transaction-history .indicator{
  background-color: #ED5A2F !important;
}
.transaction-history #test1{
  background-color: #f7f7f7;
  padding-bottom: 100%;
}
.transaction-history .tanggal{
  font-size:1.5rem;
  font-weight: bold;
}
.transaction-history .nominal{
 color: #ED5A2F !important;
 font-weight: bold;
 font-size:1.8rem;
}
.transaction-history .input-field {
  margin:0px 50px;
}
.transaction-history .input-field .prefix{
  top:10px;
  left:10px;
}
.transaction-history .search_box{
    margin: 0px 30px;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 2px #ccc!important;
    background-color: #f7f7f7;
}
.transaction-history .search_{
  margin-bottom: 0px!important;
  border-bottom: none!important;
  
}
.transaction-history .search_ input{
  border-bottom: none!important;
  box-shadow: none!important;
}
.transaction-history input.search_:focus{
  border-bottom: none!important;
  box-shadow: none!important;
}
.transaction-history .transactions{
  margin-top:0px;
  margin-bottom:0px;
  position: relative;
}
.transaction-history li.collection-item{
  padding-bottom: 0px!important;
}
.transaction-history .secondary-content{
  margin:20px -15px;
  color: #ED5A2F!important;
}
.transaction-history li.collection-item a{
  color: #000!important;
}

.transaction-history .orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}

</style>
