<template>

  <div class="refund">

         <div class="row" style="position:relative;height:100%;">
           
            <div id="transdata" class="col s12" >
              <div style="padding:25px;text-align:left">
                <div class="no_transaksi" >NO TRANSAKSI: XYZ12345</div>
              </div>
               <div style="background-color:#FFF;padding:25px 25px;">
                  <div class="customer_data" style="background-color:#FFF;padding:0px">
                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Customer
                        </div>
                        <div class="cust_data col s8" >
                          Heru Wibowo
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          No. Handphone
                        </div>
                        <div class="cust_data col s8" >
                          08xxxxx272
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Tanggal
                        </div>
                        <div class="cust_data col s8" >
                          31 Mei 2018
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Waktu
                        </div>
                        <div class="cust_data col s8" >
                          10:45
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Nominal
                        </div>
                        <div class="cust_data col s8" >
                          Rp. 100.000,00
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Status
                        </div>
                        <div class="cust_data col s8" >
                          Paid
                        </div>
                    </div>
                 
                  </div>
                </div>

              <div style="padding:25px;text-align:left">
                <div class="refund_title" >REFUND 1</div>
              </div>

              <div style="background-color:#FFF;padding:25px 25px;">
                  <div class="customer_data" style="background-color:#FFF;padding:0px">
                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          No. Referensi
                        </div>
                        <div class="cust_data col s8" >
                          XPLRS20171206-026701
                        </div>
                    </div>

                   
                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Tanggal
                        </div>
                        <div class="cust_data col s8" >
                          31 Mei 2018
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Waktu
                        </div>
                        <div class="cust_data col s8" >
                          10:45
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Nominal
                        </div>
                        <div class="cust_data col s8" >
                          Rp. 100.000,00
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:0px;">
                        <div class="col s4" >
                          Status
                        </div>
                        <div class="cust_data col s8" >
                          Paid
                        </div>
                    </div>
                 
                  </div>
                </div>

                

            </div>
          
          

          </div>
          <footer class="page-footer">
             <div class="container">
                <div class="row">
                      <div class="col s12">
                       <div class="prelogslide">
                          <a @click="refund" class="btn theme full white-text" style="margin:0;">Refund</a>
                      </div>
                    </div>
                </div>   
             </div>
          </footer>

  </div>

</template>
<script>

export default {
  name: 'transaction-history',
  props:['trans_id'],
  data: function(){
    return{
     tanggal:'',
     nominal:'220000'
    }
  },
  beforeCreate(){
    window.$('body').css('background-color','#f7f7f7F7')
  },
  methods:{
      refund(transaction_id){

        var self = this;
        function dummySuccess() {
             self.$router.push({ path:'/refund/'+self.trans_id})
          }
          dummySuccess();     
      
      },
      getdate(){
        var d = new Date();
        var days = ['Senin','Selasa','Rabu','Kamis','Jumat','Sabtu','Minggu']
        var months = ['Januari','Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
        var date = days[d.getDay()] +", "+ d.getDate() +"-"+months[d.getMonth()]+"-"+d.getFullYear()
        console.log(date)
        return date
     }
    
  },
  mounted(){
     var self = this;
     self.tanggal = self.getdate()
      window.$('body').css('background-color','#f7f7f7F7')
  }
}
</script>
<style scoped>
 body{
     background-color: #f7f7f7;
  }
.refund .content{
  padding:0px 15px;
}
.refund .order{
  padding: 1rem;
}
.refund .order li{
    margin-bottom:1rem;
}
 .refund .row .col{
    padding:0px !important;
  }
.refund.indicator{
  background-color: #ED5A2F !important;
}
.refund#transdata{
  background-color: #f7f7f7;
  padding: 0px;
  padding-bottom: 60%;
  
}
.refund #transdata .no_transaksi{
  font-size:1.2rem;
  font-family:'LatoBold';
  letter-spacing: 0.1rem;
}
.refund #transdata .refund_title{
  font-size:1.2rem;
  font-family:'LatoBold';
  letter-spacing: 0.1rem;
  color:#ED5A2F !important;
}
.refund .customer_data{
  font-size:1.2rem;
}
.refund .cust_data{
  font-weight: bolder;
}
.refund .nominal{
 color: #ED5A2F !important;
 font-weight: bold;
 font-size:1.8rem;
}
.refund .input-field {
  margin:0px 50px;
}
.refund .input-field .prefix{
  top:10px;
  left:10px;
}
.refund .search_box{
    margin: 0px 30px;
    border: 1px solid #FFF;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 2px #ccc!important;
    background-color: #f7f7f7;
}
.refund .search_{
  margin-bottom: 0px!important;
  border-bottom: none!important;
  
}
.refund .search_ input{
  border-bottom: none!important;
  box-shadow: none!important;
}
.refund input.search_:focus{
  border-bottom: none!important;
  box-shadow: none!important;
}
.refund .transactions{
  margin-top:0px;
  margin-bottom:0px;
  position: relative;
}
li.collection-item{
  padding-bottom: 0px!important;
}
.refund .secondary-content{
  margin:20px -15px;
  color: #ED5A2F!important;
}
li.collection-item a{
  color: #000!important;
}

.refund.orange{
  background-color: #FFF;
  color:#ED5A2F !important;
  font-weight: bold;
}
.refund .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.refund .prelogslide{
  position: relative;
  bottom:0px;
}
</style>
