<template>
  <div class="faq" style="text-align:left">
      <div style="padding:10px 25px; font-size:1.3rem;">
        <label style="text-align:left" class="title_panel"><h4>FAQ</h4></label>
       
         <div class="row" style="position:relative;height:100%;margin-bottom:0px;">

            <div class="container">
                <div class="row">

                  <div class="col s12">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


                  </div>

                </div>

            </div>

         </div>

      </div>
      
    
  </div>
</template>
<script>

export default {
  name: 'login',
  data: function(){
    return{
      payload:{
        Nomor_Merchant:'1234566789110',
        Nama_Merchant:'TOKO MAJU MUNDUR',
        NIK:'1234566789110',
        Alamat:'Jalan Mawar no.15A Setia Budi',
        Nama_Penanggung:'Joko Susilo',
        No_Ponsel:'085612345678',
        Nama_Bank:'Bank Danamon',
        No_Rekening:'00985018823',
        Nama_Pemilik_Rekening:'Joko Susilo',
      }
    }
  },
  mounted(){

    window.$('body').css('background-color','#f7f7f7')
  },
  methods:{
    fin(){
        var self = this;
        var otp = self.otp;

        function dummySuccess(){
           // window.localStorage.setItem("moffas.phone",self.payload.phone)
           self.$router.push('/settings');
        }
        
        dummySuccess();
     }
    }
}
</script>
<style scoped>
body{
  background-color: #f7f7f7;
}
.faq .title_panel{
  margin-top:10px;
}

.inputs { 
  width: 40px!important;
  height: 40px; 
  margin: 5px !important;
  text-align: center;
  border:1px solid rgb(38, 166, 154) !important;  
}
.grey{
  background-color: #FFF !important;
  color: #ED5A2F !important;
  font-family: 'LatoBold';
}
label{
margin-top: 25px!important;
font-size: 1.1rem!important;
color: #696969;
}
.faq .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.faq .page-footer{
  background-color: transparent;
  padding-top:25px;
}
.faq .prelogslide{
  position: relative;
  bottom:0px;
}
.faq .rows .col{
 padding:0;
 margin:0;
}
.faq .container{
  width: 100%;
}
</style>