<template>
  <div class="newpin">
      <div style="padding:25px;">
        <label style="text-align:left; font-size" class="title_panel"> <h4 style="text-align:left; display:block;" class="title_panel">Buat Pin Baru</h4></label>
        <label style="float:left">Masukkan Pin anda saat ini</label>
          <div class="input-field">
            <input style="max-width:90%; float:left;" :type="pintype" inputmode="numeric" id="pin" v-model="payload.CurrentPIN" placeholder="PIN" data-length="6" maxlength="6"/>
            <i style="float:right;" class="material-icons" @click="cptype">remove_red_eye</i>
          </div>
          <br/>
         <label style="float:left">Buat PIN Baru(6 angka)</label>
          <div class="input-field">
            <input style="max-width:90%; float:left;" :type="pintype2" inputmode="numeric" id="pin" v-model="payload.PIN" placeholder="PIN" data-length="6" maxlength="6"/>
            <i style="float:right;" class="material-icons" @click="cptype2">remove_red_eye</i>
          </div>
          <br/>
          <label style="float:left">Konfirmasi PIN Baru(6 angka)</label>
          <div class="input-field">
            <input style="max-width:90%; float:left;" :type="pintype3" inputmode="numeric" id="pin3" v-model="payload.PIN_Confirm" placeholder="PIN" data-length="6" maxlength="6"/>
            <i style="float:right;" class="material-icons" @click="cptype3">remove_red_eye</i>
          </div>
          <br/>
      </div>
      <br />
      <div style="margin-top:25px; padding:25px;">
        <button class="btn theme full" style="margin:0;margin-bottom:25px;" @click="next">Ubah</button>
        
      </div>

  </div>
</template>
<script>

export default {
  name: 'new pin',
  data: function(){
    return{
      payload:{
        PIN:'',
        PIN_Confirm:'',
        register: true,
      },
      pintype:'password',
      pintype2:'password',
      pintype3:'password',
    }
  },
  mounted(){
    $(document).ready(function(){
      $('select').material_select();
      $('input#pin').characterCounter();
      $('input#pin2').characterCounter();
      $('input#pin3').characterCounter();
      // console.log("test");
    });
  },
  methods:{
    next(){
      var self = this;
      var valid=true;
      var notvalid='';
      for(var p in this.payload){
        if(this.payload[p]==''){
          valid=false;
          notvalid+=p.replace('_',' ')+'\n';
        }
      }
      let pl = self.payload 

      if(pl.PIN !== pl.PIN_Confirm){
        valid = false
      }

      if((pl.PIN).length !== 6){
        valid = false
      }
      if(!valid){
        alert('Pin yang terdiri dari 6 (enam) angka digunakan untuk login ke aplikasi dan otorisasi transaksi');
      }else{

        function dummySuccess(){
          let py = self.payload 
          window.localStorage.setItem("PIN",py.PIN);
           self.$router.push('/login/');          
        }

        function onProceed(regpload) {
            console.log(regpload);
            window.localStorage.setItem("otp_header",regpload.otp_header);
            for (var k in regpload){
                if (k != "response") {
                    self.payload[k] = regpload[k];
                }
            }
            console.log(self.payload);
            self.$router.push('/cregis/'+JSON.stringify(self.payload));            
        }
        function onDenied(){
            alert("nomor sudah terfdaftar");
            self.$router.push('/login');            
        }
        function onError(e){
            alert("error : "+e.message);
        }
        
        console.log("registering");
        console.log(self.payload);
        console.log(self.phone);
        //moffas.regis_start(moffas.config.bin+self.payload.phone,onProceed,onDenied,onError);  
        dummySuccess();  
      }
    },
    cptype(){
      if(this.pintype=='text'){
        this.pintype='password'
      }else{
        this.pintype='text'
      }
    },
    cptype2(){
      if(this.pintype2=='text'){
        this.pintype2='password'
      }else{
        this.pintype2='text'
      }
    },
    cptype3(){
      if(this.pintype3=='text'){
        this.pintype3='password'
      }else{
        this.pintype3='text'
      }
    }
  },
}
</script>
<style>
  body{
    background-color: #f7f7f7;
  }
  input[type="text"]{
    font-weight: bold!important;
    font-size:1.5em!important;
  }
  .with-gap{
    background-color: red;
  }
  .newpin label{
    font-family: 'LatoBold'!important;
  }
</style>